[2016-08-07 00:02] elvizlai opened #18 "The Word Stopped"
I followed `https://github.com/pingcap/docs/blob/master/op-guide/docker.md` to start all required services, and it succeed.

But when I tried command:

[code]

All services are DOWN.（pd, tikv and tidb）

And It(pd4/pd5) can not started again.

logs `2016/08/06 23:52:36 main.go:45: [error] create pd server err etcdserver: Peer URLs already exists`

It seems that when pd4/pd5 down, It not de-register

[2016-08-07 06:10] siddontang commented on #18
@overvenus
Seems we don't handle restarting the pd with join argument.

[2016-08-08 03:36] overvenus commented on #18
Hi, this error seems caused by join flag.

Now it has been tweaked a little, pingcap/pd#249 should fix this problem, so please use initial-cluster flag for now. Sorry about that.

[2016-08-11 11:27] terryzhao opened #23 "create cluster on aliyun issue"
Hi All,

When i create cluster on Aliyun,  i got the error as below:

2016-08-11 19:06:47,152 tikv-server.rs:117 - INFO  - rocksdb.write-buffer-size, use default Some(67108864)
2016-08-11 19:06:47,152 tikv-server.rs:117 - INFO  - rocksdb.max-write-buffer-number, use default Some(5)
2016-08-11 19:06:47,152 tikv-server.rs:117 - INFO  - rocksdb.min-write-buffer-number-to-merge, use default Some(1)
20

[2016-08-11 12:35] siddontang commented on #23
Hi @terryzhao

Seem that you still follow the old instructions. Now we don't have 1234 port.

[2016-08-12 02:26] terryzhao commented on #23
Hi @siddontang ,

If i remove the 1234 port,  i got the error as below:

2016-08-12 10:25:12,659 tikv-server.rs:117 - INFO  - rocksdb.target-file-size-base, use default Some(16777216)
2016-08-12 10:25:12,659 tikv-server.rs:117 - INFO  - rocksdb.level0-slowdown-writes-trigger, use default Some(12)
2016-08-12 10:25:12,659 tikv-server.rs:117 - INFO  - rocksdb.level0-stop-writes-trigger, use default S

[2016-08-12 02:26] terryzhao commented on #23
It seems the default port is 1234 for pd leader.

[2016-08-12 02:27] shenli commented on #23
@terryzhao May I have your git hash?  It seems that you are using an out of date version.

[2016-08-12 02:29] siddontang commented on #23
Seem that we should support a update script after user downloaded and built the cluster.

[2016-08-12 02:29] terryzhao commented on #23
which git hash do you want , pd-server or tiki-server ?

[2016-08-12 02:30] siddontang opened #24 "add a update script after user built the cluster."

[2016-08-12 02:31] shenli commented on #23
@terryzhao pd-server

[2016-08-12 02:31] terryzhao commented on #23
git log for tiki:

commit 3dbadd2bc275ceacd885c634f2cc636890fd4d38
Author: zhangjinpeng1987 <zhangjinpeng@pingcap.com>
Date:   Tue Aug 2 15:11:38 2016 +0800

    add block-cache-size option to config-file (#899)

    etc: add block-cache-size option to config-file

pd:

commit 2c3cee335dc1e9d6daa9cdf8f1f65efcd0c52a38
Author: Neil Shen <overvenus@gmail.com>
Date:   Tue Aug 2 09:58:29 2016 +0800

[2016-08-12 02:35] siddontang commented on #23
HI @terryzhao
Seem that you use an older version, you can use https://github.com/pingcap/docs/blob/siddontang/update-cluster/scripts/update.sh to update all and build again.

Download the update script to your previous build directory and run it.

[2016-08-12 02:37] terryzhao commented on #23
OK , let me try it , and  i will update you soon.

[2016-08-12 03:45] terryzhao commented on #23
Hi @siddontang ,

pd-server and tiki-server is ready now. But when i run tide-server on A.net using below command

./tidb-server --store=tikv --path="A.net:2379,Bt:2379?cluster=1"
2016/08/12 11:42:20 printer.go:30: [info] Welcome to the TiDB.
2016/08/12 11:42:20 printer.go:31: [info] Version:
2016/08/12 11:42:20 printer.go:32: [info] Git Commit Hash: 3c817210a2947e9a7db18d00b7dce5b04a98018e
2016/0

[2016-08-12 03:47] shenli commented on #23
@terryzhao May I see your PD and TiKV logs?

[2016-08-12 03:47] siddontang commented on #23
what's the log for pd and tikv?
Btw, don't start even number pd and tikv servers. 1 or 3 servers is ok.

[2016-08-12 03:48] siddontang commented on #23
what's your tikv start args?

[2016-08-12 03:48] terryzhao commented on #23
./tikv-server   -S raftkv \
                -I 1 \
                --pd a.net:2379,b.net:2379 \
                -s  tikv1

[2016-08-12 03:49] terryzhao commented on #23
logs on tikv1

2016-08-12 11:38:17,877 tikv-server.rs:559 - INFO  - tikv server config: Config { cluster_id: 1, addr: "127.0.0.1:20160", advertise_addr: "127.0.0.1:20160", notify_capacity: 40960, messages_per_tick: 4096, send_buffer_size: 131072, recv_buffer_size: 131072, storage: Config { path: "/home/administrator/tidb/collidb-tikv1", sched_notify_capacity: 10240, sched_msg_per_tick: 1024, sched

[2016-08-12 03:51] siddontang commented on #23
Hi @terryzhao
I guess you should use advertise addr like pd for tikv-server too.

[code]

[2016-08-12 03:51] terryzhao commented on #23
ok

[2016-08-13 03:40] terryzhao commented on #23
Hi @siddontang ,

I just created cluster for one pd-server and tiki-server on same host successfully.

But Actually , for me i need to create a cluster more than 3 servers, and now i have three hosts
A in us
B in CN2
C in China

the network link between A and B , B and C is OK. But for A and C  , as you know, the GFW , the network link is corrupted.
So i want to know is that ,could you create clus

[2016-08-13 04:33] shenli commented on #23
@terryzhao We need all the TiKV nodes could connect to the PD node. Could you setup a VPN?

[2016-08-13 04:35] shenli commented on #24
Fixed in #25

[2016-08-13 04:35] #24 closed

[2016-08-13 06:06] terryzhao commented on #23
Hi @shenli ,

I got it, thanks for your reply!

[2016-08-13 06:06] #23 closed

[2016-09-02 08:01] xming4321 opened #29 "Could not compile `tikv`."
use setup script :

Compiling rocksdb v0.3.0 (https://github.com/ngaut/rust-rocksdb.git#4c8e2192)
src/lib.rs:15:1: 15:18 error: #[feature] may not be used on the stable release channel [E0554]
src/lib.rs:15 #![feature(test)]
              ^~~~~~~~~~~~~~~~~
src/lib.rs:16:1: 16:34 error: #[feature] may not be used on the stable release channel [E0554]
src/lib.rs:16 #![feature(optin_builtin_traits)]

[2016-09-02 08:24] shenli commented on #29
@xming4321 Do you use nightly rustc?

[2016-09-03 01:26] siddontang commented on #29
Hi @xming4321
You must use the nightly Rust version, not stable.

[2016-09-03 01:35] siddontang commented on #29
Hi @overvenus

I think we can use the check requirement script script at the beginning of the build script.

[2016-09-14 02:48] shenli opened #32 "Translate TiDB deployment overview document into English"
See https://github.com/pingcap/docs-cn/blob/master/op-guide/overview.md
@queenypingcap

[2016-09-14 02:51] queenypingcap commented on #32
Got it!

[2016-09-18 12:35] zimulala opened #37 "Update the content of `Install RocksDB` in dev-guide/build.md"

[2016-09-19 03:27] #32 closed

[2016-09-19 03:30] queenypingcap commented on #32
Finished in the following commits:
faa9ef456294ad5c96d89d09e022a95d90a60c2c
392d76b7ef15cfa22da8a5421407aab5fa8e6c88

[2016-09-21 03:05] c4pt0r commented on #18
@overvenus  any updates?
Seems that we don't support join now?

[2016-09-21 03:05] #29 closed

[2016-09-21 06:37] overvenus commented on #18
We do support join, but it is a unstable feature, I recommend starting a cluster that contains at least three nodes first, then joining more nodes.

[2016-09-27 07:58] F21 opened #43 "Document supported SQL syntax"
While the [roadmap](https://github.com/pingcap/tidb/blob/master/docs/ROADMAP.md) contains a list of things the SQL layer supports, it is very brief.

For example, it is unclear to what extent simple subqueries are supported. It would be nice if there was a dedicated document documenting all the supported SQL constructs and syntax.

[2016-09-27 08:04] shenli commented on #43
@F21 Thanks for your report! We will add a document for this.

[2016-10-02 20:37] lavvy opened #44 "Arm support"
Hello are there arm docker images or binaries for pd, tikv and tidb. Atleast for entry or test environment for raspberry pi community

[2016-10-03 09:32] ngaut opened #45 "Do we need to move build_rocksdb.sh to TiKV project ?"
Looks like it's a better place to host build_rocksdb.sh, since the TiKV project needs rocksdb.

[2016-10-03 13:52] c4pt0r commented on #44
Currently we don't support ARM platform officially, because there's no available 64bit OS image for Raspberry Pi right now. You have to do lots of patches on tikv and its dependent libraries, for example:
https://github.com/c4pt0r/rust-rocksdb/commit/b3105ac8d4c7cb286e2d572d5b9e1824983fe9c5

[2016-10-03 14:08] siddontang commented on #45
Most of the time, we must build TiDB, TiKV, PD and run them together, so it is better that putting all build instructions in one repository.
I think adding reference in TiKV readme is ok.
/cc @shenli

[2016-10-08 02:35] queenypingcap opened #47 "Creating a doc to show how to run a test app on TiDB"
You can use MySQL drivers/clients and applications, such as MySQL cli , PhpMyAdmin, WordPress, etc. to work with TiDB. This request is create an article to show how to run a test app on TiDB.

[2016-10-08 02:58] tiancaiamao commented on #43
Here is a tool you may also interested @F21
https://github.com/pingcap/tidb-tools/tree/master/checker

[2016-10-09 03:41] siddontang opened #48 "add prometheus/grafana configuration"
We must guarantee users can use these configurations directly for their own prometheus + grafana.

[2016-10-09 04:39] siddontang opened #49 "add a guide on how to deploy prometheus"

[2016-11-08 10:07] queenypingcap commented on #43
@shenli Since you have added the [TiDB SQL Grammar](https://pingcap.github.io/sqlgram), can we close this issue?

[2016-11-08 10:52] c4pt0r commented on #43
@F21 As Queeny mentioned above, we also have a diagram of full SQL grammar that TiDB supports. See: [sqlgram](https://pingcap.github.io/sqlgram)

[2016-11-08 10:52] #43 closed

[2016-11-08 11:02] F21 commented on #43
@c4pt0r and @queenypingcap Thanks! That's perfect 😄

[2016-11-08 11:03] shenli commented on #43
@F21 We will add an index for the sqlgram soon.

[2016-11-17 08:58] #37 closed

[2016-11-17 09:31] #49 closed

[2016-11-21 07:26] c4pt0r commented on #47
@shenli  PTAL

[2016-11-27 02:11] siddontang opened #68 "update rocksdb version for development guide"
The guide uses RocksdB 4.12 version, but we must use special master version now.

[2016-12-15 05:30] tennix opened #77 "Add configuration in deployment documentation"
We should add how to set configuration for pd and tikv in deployment documentation, some users only refer to deployment documentation and forget to set command line argument `--config` in their deployment.

[2017-01-13 16:25] zs634134578 opened #83 "build tikv failed with command "make", but succeeded with "make static_release""
It seems ROCKSDB_SYS_STATIC=1 is always needed when build.
[code]

## make static_release (succeeded)
[code]

## make (Failed)
[code]

[2017-01-14 03:08] zs634134578 commented on #83
I think I should move this issue to tikv's issues.

[2017-01-14 03:08] #83 closed

[2017-01-18 10:34] xmonader opened #86 "panic while starting tikv against pd-server"
I'm using the recommended binaries deployment `tidb-latest-linux-amd64.tar.gz`

I started pd-server like this
[code]
and I get
[code]
and starting tikv-server like this
[code]
and I get
[code]
Apparently i needed to change `--store=tikv1` instead of `tikv` in the docs.

[2017-01-18 11:33] siddontang commented on #86
Thanks @xmonader

You can use `--pd "127.0.0.1:2379"` instead, now we don't support "http://" schema.  @overvenus we should support this later.

[2017-01-18 11:35] xmonader commented on #86
@siddontang  thank you! works like a charm. (Not sure about your closing issues policy) I'll leave it to you :)

[2017-01-18 11:49] siddontang commented on #86
I will close it and file a new PR in TiKV repo.

[2017-01-18 11:49] #86 closed

[2017-01-24 16:04] ngaut opened #88 "Add description for @ and @@ when use snapshot read."

[2017-04-04 10:54] thebennos opened #103 "Docker compose"
Related to
https://github.com/pingcap/docs/blob/master/op-guide/docker-compose.md

Do not see that opening so much port is needed, like
    ports:
      - "2379"
      - "2380"

I think internal ports (expose) is enough for pd and tikv.

[2017-04-05 06:17] tennix commented on #103
@thebennos Yes, you're right. Thank you for pointing out that. We'll fix it in #104

[2017-05-03 21:45] cicerocomp opened #110 "Documentation live backup to tikv"

[2017-05-03 22:58] siddontang commented on #110
Hi @cicerocomp

Do you mean sending SIGUSR2 to TiKV and backup the data?  If yes, we will remove this mechanism and use an HTTP API after we introduce gRPC.

[2017-05-04 17:35] cicerocomp commented on #110
I actually wanted documentation to know how to `tikv` backup.
Is it possible to do incremental backup?

[2017-08-15 16:46] george24601 opened #159 "Does TiKV servers need NTP service on?"
My understanding is that PD uses etcd to act as timestamp oracle. Therefore, you need NTP on all pd servers to ensure they are not too far off. But I don't see any reference to NTP in TiKV, does that mean we can actually do without it on TiKV servers?

[2017-08-16 01:01] siddontang commented on #159
Hi @george24601

TiKV doesn't need NTP, but I still suggest ensuring the time is accurate because we will record time in the log.

[2017-08-16 01:15] #159 closed

[2017-08-30 01:58] tshqin opened #174 "page link doesn't work"
the page link "[7. Rolling Update](https://pingcap.com/doc-ansible-deployment#rolling-update)" doesn't work in this page
https://pingcap.com/doc-ansible-deployment

[2017-08-30 09:15] #174 closed

[2017-08-31 01:43] tshqin opened #179 "update of tidb-ansible-master is needed before rolling update of the cluster"
I couldn't rolling update my test cluster from RC4 to V0.8 by following the step 7 in this [page](https://pingcap.com/doc-ansible-deployment#perform-rolling-update)
 I'm not sure if it's a must during every rolling update or just this version.
a renew of the tidb-ansible-master(STEP 3) is needed before doing 7.1, at least from RC4 to V0.8

[2017-08-31 03:19] queenypingcap commented on #179
Hi Gin, Could you please shed some light about V0.8? Where did you get it? Thanks!

[2017-08-31 03:27] tshqin commented on #179
I was informed yesterday that preGA was released, and I got it by rolling update, all set I checked the tidb version, I saw the preGA is called 0.8
Release Version: 0.8.0
Git Commit Hash: 62c8d39d931b329254cc390c1ae31af27890540a
Git Commit Branch: master
UTC Build Time:  2017-08-29 11:46:09

[2017-08-31 05:18] queenypingcap commented on #179
Got it. Thanks! You can deploy the Pre-GA version directly:
git clone -b Pre-GA https://github.com/pingcap/tidb-ansible.git

[2017-08-31 14:01] andelf opened #183 "Should TOC be included in github .md files?"
This conflicts with PDF generating.
Haven't figure out how to solve

[2017-09-03 14:11] WreathCrystal opened #184 "How to redirect Wiki to https://github.com/pingcap/docs?"
That is a useful operation for me , but I did not work out how to config. Could anyone tell me ? Thanks in advance !

[2017-09-03 14:13] shenli commented on #184
@WreathCrystal Sorry, I do not get your point.

[2017-09-03 14:24] WreathCrystal commented on #184
1) Access to website:  https://github.com/pingcap/docs/wiki
    The page should show something like this:

![image](https://user-images.githubusercontent.com/26850311/30003800-124a5d12-90f6-11e7-8925-8824a9a31380.png)

  but actually  The content is changed to
![image](https://user-images.githubusercontent.com/26850311/30003813-585a16a8-90f6-11e7-8d2d-fc5365ff6dbd.png)

2) You  visit  the website

[2017-09-26 07:48] WreathCrystal commented on #184
I got it . The answer is  GitHub Pages.

[2017-09-27 22:17] taoeffect commented on #47
So TiDB, right now, works with Wordpress? If so I would love to try it out!

Maybe a sample Docker app with Alpine linux could be used as the "documentation" / example?

[2017-10-03 22:51] nicodemus26 opened #212 "Config to always use tidb_snapshot"
I'm looking to use TiDB/TiKV as a mirror for data with an upstream source of truth for sequence/time. I'd like to use the `tidb_snapshot` system variable to impose a time on inserts, and to perform snapshot reads.

The documentation here https://github.com/pingcap/docs/blame/master/op-guide/history-read.md#L25 implies that the PD clock may override tidb_snapshot if there is a large difference. I w

[2017-10-07 14:36] shenli commented on #212
@nicodemus26 I think you misunderstand the document.

For each transaction, TiDB will apply for a timestamp from PD. So the version of the data is the local time of PD. Consider this scenario: PD's local time is `2017-09-07 00:00:00` and TiDB's local time is `2017-10-07 00:00:00`. If you want to read the data of three days ago, you should set `tidb_snapshot` to `2017-09-04 00:00:00`.
In one word,

[2017-10-09 15:25] nicodemus26 commented on #212
I need to **write** data at a certain time, determined upstream. These writes may come out of order, but they carry their timestamp along. will `tidb_snapshot` use **my** time for writes, or will it adopt the PD's?

[2017-10-09 15:39] shenli commented on #212
No, You can't use `tidb_snapshot` to do this. The version of data will always be assigned by PD.
And when you set `tidb_snapshot` in a session, [this session will become readonly](https://github.com/pingcap/tidb/blob/master/executor/adapter.go#L176). It is dangerous to update a historical data, we are worried about the data consistency. For example, there is a unique key constraint for a table. If

[2017-10-09 16:01] nicodemus26 commented on #212
In that case we may need to rework our design a bit. I was hoping to lean on the TiKV vector clocks to push data in parallel. I suppose we can serialize the data per-table and record which PD times correlate with which upstream times. This significantly complicates our design, though.

[2017-10-09 16:35] nicodemus26 commented on #212
Can I select the PD time used for a commit through TiDB?

[2017-10-09 16:53] shenli commented on #212
No, you can't choose the TSO.

[2017-10-09 16:57] nicodemus26 commented on #212
Sorry, I mean may I read out the TSO chosen by TiDB/PD for a TiDB commit?

[2017-10-10 04:17] shenli commented on #212
You can use the tidb's specific system variable [`tidb_current_ts`](https://github.com/pingcap/tidb/blob/master/sessionctx/variable/tidb_vars.go#L53):

[2017-10-10 20:15] nicodemus26 commented on #212
Thanks for the help! I'll see about correlating PD's TSOs with my upstream timestamps.

[2017-10-10 20:15] #212 closed

[2017-10-26 03:40] PHILO-HE opened #260 "Launch tidb, tikv or pd with --config option"
I have not found the detailed instruction about the --config option for launching tidb/tikv/pd in command line. The name or path name of a configure file should be followed to this option. So which kind of configure file is supported? XML or other format?

[2017-10-26 08:42] PHILO-HE commented on #260
I looked into the source code. For Tidb, the conf file should be toml format.

[2017-10-26 08:42] #260 closed

[2017-11-14 20:04] cpapidas opened #271 "docker compose fails to start"
Docker compose fails to start all the container successfully

[code]

[2017-11-15 02:52] shenli commented on #271
@cpapidas Thanks for your feedback!
@iamxy PTAL

[2017-11-15 05:41] tennix commented on #271
@cpapidas Sorry, it seems that we didn't handle the bootstrap step correctly. If tikv-server failed to connect to pd-server, it fails and exits. This happens when docker-compose starts tikv-server as soon as pd container is running without waiting for pd ready to handle request. [docker-compose doc](https://docs.docker.com/compose/startup-order/) points out this. We'll fix this asap

[2017-12-06 03:24] #179 closed

[2018-01-08 13:20] tiancaiamao opened #320 "images link in benchmark is broken"
See https://github.com/pingcap/docs/blob/master/benchmark/sysbench.md

[2018-01-15 15:06] temporaryaccount opened #325 "SSL Security Issues"
I couldn't find a place to report website issues so I'll do it here.

The https://www.pingcap.com website is [vulnerable](https://www.ssllabs.com/ssltest/analyze.html?d=pingcap.com) to [POODLE](https://community.qualys.com/blogs/securitylabs/2014/10/15/ssl-3-is-dead-killed-by-the-poodle-attack) attack and has [weak](https://weakdh.org/) DH parameters.

For more information about how to solve the i

[2018-01-19 20:26] kaeverens opened #331 "At-rest Encryption"
I'm sorry if this has already been addressed, but I don't see it mentioned in the documentation.

Does TiDB support at-rest encryption, where the data in the storage system is encrypted so that hackers that gain access to the server cannot simply read the data in the files?

This is an important feature which other databases such as MySQL 5.7 and Mongo 3.2 have introduced. The European GDPR laws c

[2018-01-30 08:06] yidazhi opened #337 "Authentication failure"
changed: [localhost]
        to retry, use: --limit @/usr/local/tidb-ansible-master/retry_files/bootstrap.retry

PLAY RECAP ******************************************************************************************************************************************************************************************************************************
192.168.1.161              : ok=6    changed=0    unr

[2018-02-03 02:24] shenli commented on #331
@kaeverens Thanks for your feedback!
This feature is on our plan but not implemented yet. I will let you know when we finish it.

[2018-02-22 07:58] lilin90 commented on #320
Fixed in https://github.com/pingcap/docs/pull/321

[2018-02-22 07:58] #320 closed

[2018-02-22 08:42] #184 closed

[2018-03-12 03:43] #325 closed

[2018-03-15 04:51] yangjun opened #372 "GIS Support"
类似 PostGIS 或者 MySQL 5.7，支持空间引擎，支持 osgeo 标准

[2018-05-08 12:36] liukun4515 opened #461 "Can't build the tidb"
install the go and rust using `check_requirement.sh`

failed to build tidb using `build.sh`

build log:
[code]

[2018-05-09 06:55] liukun4515 commented on #461
upgrade the go version in script [check_requirement.sh](https://github.com/pingcap/docs/blob/master/scripts/check_requirement.sh)

[2018-05-21 06:33] #461 closed

[2018-05-21 12:06] siuu opened #475 "How to recover root user's privilege after some improper operation by mistake？"
The misuse removed the user root@'%', and the user root@'127.0.0.1' was created without giving any permission.
After tidb is restarted with skip-grant-table=true, the root user still does not have any permissions.

./tidb-server -V
Release Version:  v2.0.0
Git Commit Hash:  637e130e6a9ba2e54e158131c0466233db39a60e
Git Commit Branch:  release-2.0
UTC Build Time:  2018-04-27 11:43:00
GoVersion:  go

[2018-05-21 12:14] tiancaiamao commented on #475
You can use grant https://pingcap.com/docs/sql/privilege/

The SQL grammar is the same with MySQL:

[code]

[2018-05-21 12:32] tiancaiamao commented on #475
You need to operation on a special TiDB:

[code]

--skip-grant-table is removed from command line (the document maybe outdated, I'm not sure),
so you have to use a config file, modify here:

[code]

https://github.com/pingcap/tidb/blob/master/config/config.toml.example

And if you're using TiKV, don't forget to specify path to something like "127.0.0.0:2379", otherwise you just modify a TiDB on th

[2018-05-25 23:53] huangxueliang1980 opened #477 "start with fatal error"
TASK [set_fact] *******************************************************************************************************************************************************
fatal: [192.168.0.111]: FAILED! => {"msg": "The conditional check '((existing_api_keys['json'] | selectattr(\"name\", \"equalto\", \"grafana_apikey\")) | list) | length == 1' failed. The error was: no test named 'equalto'\n\nThe err

[2018-05-28 01:49] siuu commented on #475
Thank you very much, the problem has been solved

[2018-05-28 01:50] #475 closed

[2018-06-14 10:18] chenfangWork opened #504 "error installing tidb with ansible on task: machine_benchmark"
when i excute the command:  **ansible-playbook bootstrap.yml** to install tidb,   i made a mistake:
[code]
**# The Default configuration：**
benchmark_size: 10G

So I did a manual test：
1`
[code]
2、
[code]
3、
[code]

**for the  test detals:****
1、
[code]
2、
[code]

summary:
in my solutions, when benchmark_size: 10G, i I got only one value
when benchmark_size: 1G or benchmark_size: 10000M or benchma

[2018-06-14 23:58] Hoverbear commented on #504
Can you please post your vars files? It sounds like something isn't set which should be.

It's ok to redact them if there is private things.

[2018-06-18 11:19] tjyang opened #507 "Diagramming tool suggestion"
Hi There
I noticed that the TiDB's architecture diagram are using google's diagramming tool.
Is it possible that TiDB diagrammig tool can be switched over to open-source [Dia tool](http://dia-installer.de/)?
Doing so will allow others to download the .dia source and modify/enhance/reuse diagrams easily.

[2018-06-23 06:52] tjyang commented on #507
@Hoverbear , I can re-create a few TiDB arch diagram using Dia, if there is an interest.

[2018-06-23 15:39] Hoverbear commented on #507
Hi @tjyang (I thought I responded to this, sorry!)

Using diagramming format that can be more easily edited is a great idea. Do you know if Dia files can be previewed on Github? Or embedded? If not we might need to have some sort of push hook to generate the images on change.

I think SVG may also be an option, but it's not very convenient to edit. I have previously used http://asciiflow.com/ and

[2018-06-26 20:05] Hoverbear commented on #507
Hmm that's a bit annoying. I think it is an upgrade over what we currently. @queenypingcap could you PTAL, what do you think?

[2018-06-26 20:20] tjyang commented on #507
@Hoverbear
Can you elaborate why you feel "a bit annonying" ?
All drawing tools using  special formats that not can be displayed  directly from github/gitlab.  Usually export to png/jpeg/pdf are the required step and save the viewable format to git repo.

[2018-06-26 20:38] Hoverbear commented on #507
@tjyang Yeah I was thinking about it compared to GraphViz which has a really plain representation. Unfortunately GraphViz isn't easy to use. :(

[2018-06-26 20:53] tjyang commented on #507
@Hoverbear
I am proposing using Dia over Google draw as this project's diagramming tool , not GraphViz.
Please [install Dia](http://dia-installer.de/download/index.html.en) on your machine to try it out. and open [GNU autotool example .dia file](https://github.com/tjyang/psp/blob/master/books/psp/dia/autotool.dia) to try out.

[2018-06-26 21:03] Hoverbear commented on #507
@tjyang Yes, I know that. :) I was more thinking that GraphViz might be more appropriate, but I think Dia is easier for folks to use.

[2018-06-28 07:40] huang10598 commented on #337
me too

[2018-06-28 07:53] huang10598 commented on #337
有人么！？ @yidazhi  你解决了么？

[2018-06-28 08:03] yidazhi commented on #337
@huang10598 所有机器上增加tidb用户，并添加sudo权限试试

[2018-07-05 12:01] Lyle-liang opened #520 "fio randread iops of deploy_dir disk is too low"
I meet a problem, as follows:
![image](https://user-images.githubusercontent.com/14850448/42321953-23a03302-808d-11e8-8511-57ee9364db1b.png)
Ps: SSD  10TB

Question:

1. Why are the parameters of the command set like this?

2. How to solve it, and I don't want to skip the test by configuring？

Urgent！！！

Thanks.

[2018-07-16 06:11] carr123 opened #540 "remove log printing"
when i create a tikv client with  tikv.NewRawKVClient( ).
it automatically prints on console the following logs:

time="2018-07-12T14:06:38+08:00" level=info msg="[pd] create pd client with endpoints [175.16.1.50:2379 175.16.1.53:2379 175.16.1.54:2379]"
time="2018-07-12T14:06:38+08:00" level=info msg="[pd] leader switches to: http://175.16.1.50:2379, previous: "
time="2018-07-12T14:06:38+08:00" le

[2018-07-23 05:32] disksing commented on #540
Hi @carr123 , we use logrus(https://github.com/sirupsen/logrus) for logging. You may want set a higher log level or set a different output using logrus's API.

[2018-07-23 05:33] overvenus commented on #18
We have enhanced the join feature since my last reply, it's stable now.
I'm closing this since the the issue is no longer active. Please feel free to comment and reopen if you feel the issue has not been resolved.

[2018-07-23 05:33] #18 closed

[2018-07-23 05:36] queenypingcap commented on #507
Thank you for the suggestion, @tjyang. For now, we are more inclined to keep the format as it is. We can try it later to see if this works for us!

[2018-07-23 05:36] #507 closed

[2018-07-23 05:39] LinuxGit commented on #477
You need to install Ansible and its dependencies by pip, see https://github.com/pingcap/docs/blob/master/op-guide/ansible-deployment.md#step-4-install-ansible-and-its-dependencies-on-the-control-machine.

[2018-07-23 05:39] #477 closed

[2018-07-23 05:41] LinuxGit commented on #337
see https://github.com/pingcap/docs/blob/master/op-guide/ansible-deployment.md#step-2-create-the-tidb-user-on-the-control-machine-and-generate-the-ssh-key and https://github.com/pingcap/docs/blob/master/op-guide/ansible-deployment.md#step-5-configure-the-ssh-mutual-trust-and-sudo-rules-on-the-control-machine

[2018-07-23 05:41] #337 closed

[2018-07-23 05:46] LinuxGit commented on #520
It's recommended to use NVMe SSD disks for the data directory of TiKV and PD nodes.
Most of TiKV's disk requests are randread and sequential write.  AND the baseline of fio iops result is Intel SATA3 SSD.

[2018-07-23 05:46] #520 closed

[2018-07-23 05:54] queenypingcap commented on #183
This issue is fixed.

[2018-07-23 05:54] #183 closed

[2018-07-23 05:58] tennix commented on #271
We've fixed this in [tidb-docker-compose](https://github.com/pingcap/tidb-docker-compose) by adding restart on failure policy.

[2018-07-23 05:58] #271 closed

[2018-07-23 06:02] tennix commented on #103
This is already fixed in [tidb-docker-compose](https://github.com/pingcap/tidb-docker-compose). By default we only expose PD 2379 and TiDB 4000/10080 ports. And users can expose other ports using helm to generate customized docker-compose.yml if needed.

[2018-07-23 06:02] #103 closed

[2018-07-23 06:05] tennix commented on #77
Now this is automatically configured by tidb-docker-compose and tidb-ansible.

[2018-07-23 06:05] #77 closed

[2018-07-23 06:09] queenypingcap commented on #504
@chenfangWork any update?

[2018-07-23 13:02] siddontang commented on #110
we don't support live backup now, it is not in the RoadMap currently.

Reopen if we support it later.

[2018-07-23 13:02] #110 closed

[2018-07-23 13:03] siddontang commented on #45
now we build rocksdb statically, so no need build script anymore and has already been removed.

[2018-07-23 13:03] #45 closed

[2018-07-24 00:54] shenli commented on #44
@lavvy There is no plan for Arm supporting. So I will close this issue.

[2018-07-24 00:54] #44 closed

[2018-07-24 00:55] shenli commented on #47
There are already some tutorials now. So I will close this issue.

[2018-07-24 00:55] #47 closed

[2018-07-24 00:55] shenli commented on #372
GIS is on the roadmap. Please keep eye on the tidb repo.

[2018-07-24 11:43] CaitinChen commented on #88
Fixed at https://github.com/pingcap/docs/pull/547

[2018-07-26 05:40] queenypingcap commented on #88
This issue is fixed, hence closing it.

[2018-07-26 05:40] #88 closed

[2018-07-27 15:29] Hoverbear commented on #504
Closing due to lack of information.

[2018-07-27 15:29] #504 closed

[2018-08-01 01:29] #540 closed

[2018-08-01 01:43] carr123 commented on #540
where can i invoke  logrus's API ?  should i need to change tikv project's source code ?

[2018-08-01 02:30] disksing commented on #540
No. Source code of tikv only controls the log of tikv-server.

[2018-08-08 12:10] chux0519 opened #566 "go version check problem"
[scripts/check_requirement.sh](https://github.com/pingcap/docs/blob/master/scripts/check_requirement.sh#L96) seems not correctly check the go version( GO_VER_2 ).

on OSX
go version: 1.10.3

output: 1

[2018-08-13 10:49] #566 closed

[2018-08-13 10:50] queenypingcap commented on #566
Thanks for your issue report, @chux0519! Please try the new script.

[2018-08-13 11:12] zwyao opened #570 "Does tikv support no replication?"
We are expecting a reply, thanks a lot.

👍 🥇

[2018-08-14 03:39] breeswish commented on #570
Hi, it's OK to start only 1 KV (you still need a PD), but it is highly not recommended.

[2018-08-28 14:48] morgo opened #590 "Differences in defaults between TiDB and MySQL 5.7"
Is it possible to create a manual page (or alternatively append to [this manual page](https://github.com/pingcap/docs/blob/master/sql/mysql-compatibility.md)) differences in defaults between TiDB and MySQL?  My short list:

* TiDB defaults to `utf8` (MySQL 5.7 is latin1 - this changes in 8.0 to utf8).
* TiDB defaults and only supports `lower_case_table_names=2`.
* TiDB's default collation is binar

[2018-08-29 03:52] lilin90 commented on #590
Related content is added to docs in this PR: https://github.com/pingcap/docs/pull/591

[2018-08-30 07:50] #590 closed

[2018-09-05 18:06] morgo opened #597 "op-guide: Add tabs style to Kubernetes"
On [the kubernetes deploy page](https://pingcap.com/docs/op-guide/kubernetes/), is it possible to have the platforms appear as tabs? (similar to macOS and Linux [on this page](https://www.pingcap.com/blog/how_to_spin_up_an_htap_database_in_5_minutes_with_tidb_tispark/)).

The goal is that in future other k8s platforms will be introduced (eks etc.)  It should also be possible to directly link to th

[2018-09-07 17:16] morgo opened #606 "sql: Document which sql_modes are supported"
In https://github.com/pingcap/tidb/issues/2738 it mentions that TiDB should support more sql_modes, but it is not clear which existing modes are supported.

Because TiDB does not produce an error when setting an unsupported sql_mode, it is important that this be documented on `sql/mysql-compatibility.md`

[2018-09-26 03:23] pmzxlpyt opened #625 "dbForge 7.2.58 can not connect to TiDB"
![image](https://user-images.githubusercontent.com/43162966/46055449-98e53b80-c17e-11e8-884e-e74469f5315d.png)

[2018-09-26 03:31] CaitinChen commented on #625
Original title: dbForge 7.2.58 客户端工具无法连接到 Tidb吗

[2018-09-26 03:31] pmzxlpyt opened #626 "Does TiDB support stored procedure and event task scheduling?"
Tidb 支持存储过程，支持事件任务调度吗

[2018-09-26 03:37] CaitinChen commented on #626
Original title: Tidb 支持存储过程，支持事件任务调度吗

[2018-09-26 03:55] winkyao commented on #625
Seems like TiDB doesn't have the `performance_schema.session_variables `, it may be a compatibility problem. We will look into this later. thanks for your feedback.

[2018-09-26 03:57] winkyao commented on #625
Could you use the other client, such as Navicat? We will fix this issue later.

[2018-09-26 03:57] winkyao commented on #625
Could you use the other client, such as Navicat? We will fix this issue later.

[2018-09-26 04:01] morgo opened #629 "Document tidb_force_priority = low_priority"
References:
https://github.com/pingcap/tidb/issues/7524
https://github.com/pingcap/tidb/pull/7694
https://github.com/pingcap/tidb/pull/7777

It should be on this manual page: https://pingcap.com/docs/sql/server-command-option/

And possibly in a section under "Advanced Usage" recommending strategies to improve QoS of query time.

[2018-09-26 04:05] morgo opened #630 "Clarify which mydumper to use"
The manual currently includes a link to `mydumper`, but doesn't mention we have a fork of it as well:
https://pingcap.com/docs/op-guide/backup-restore/

The upstream mydumper is actually unsafe for TiDB.  We have a PR request to fix it, and assuming it's merged we should update the advice to say the minimum version to use.

Or alternatively, we should point to our official `mydumper`

[2018-09-26 04:12] pmzxlpyt commented on #625
Navicat is not very convenient to create a procedure @winkyao

[2018-09-26 04:47] lysu commented on #626
Hi @pmzxlpyt, TiDB doesn't support procedure and event task schedule now

https://pingcap.com/docs/sql/mysql-compatibility/

[2018-09-26 06:58] pmzxlpyt opened #633 "TiDB 所有服务滚动升级过程完全不影响线上应用吗"
TiDB 所有服务滚动升级过程完全不影响线上应用吗

[2018-09-26 08:30] CaitinChen commented on #633
Original title: TiDB 所有服务滚动升级过程完全不影响线上应用吗

[2018-09-26 11:02] #626 closed

[2018-09-27 02:28] XuHuaiyu commented on #625
hi, @pmzxlpyt
Could you please try to build a tidb-server binary file
with [this commit](https://github.com/pingcap/tidb/pull/7788) and try it again to see whether we can
connect to the client?

[2018-09-27 02:38] shenli commented on #625
@XuHuaiyu Could you provide a binary for @pmzxlpyt?

[2018-09-27 04:15] jackysp commented on #625
@XuHuaiyu , I think it may not fix this issue, because MySQL will still provide the data of session_variables when performance_schema is OFF.

[2018-09-27 09:37] XuHuaiyu commented on #625
[tidb-server.zip](https://github.com/pingcap/docs/files/2423454/tidb-server.zip)

[2018-10-05 03:31] morgo opened #646 "JSON Functions / JSON Function and Generated Columns"
The documentation currently has two pages which overlap substantially:
1. https://pingcap.com/docs/sql/json-functions-generated-column/
2. https://pingcap.com/docs/sql/json-functions/

Both pages need updates - but the 2nd is more out of date.  I am wondering if we should rename json-functions + generated columns to just "Generated Columns" and move all JSON functionality to the JSON functions pag

[2018-10-05 03:37] morgo opened #647 "Document 'admin show slow' command"
See: https://github.com/pingcap/tidb/pull/7785

Should be documented here: https://pingcap.com/docs/sql/slow-query/

[2018-10-09 06:09] lilin90 commented on #647
@tiancaiamao Would you please help update the "Slow Query Log" document? Thanks!
https://pingcap.com/docs-cn/sql/slow-query/ OR https://pingcap.com/docs-cn/sql/slow-query/

[2018-10-10 22:36] morgo opened #662 "Add partitioning documentation"
Ideas:

- Add to mysql compatibility page (only range partitioning supported)
- Add to user-guide
- Add to optimizer somewhere (partition pruning)

[2018-10-11 15:46] #630 closed

[2018-10-12 13:02] #629 closed

[2018-10-16 11:52] morgo opened #672 "Add a list of unsupported functions"
See https://github.com/pingcap/tidb/issues/158

For users coming from a MySQL background, it is very useful to include a list of unsupported functions to each function overview page.

- [ ] [Control Flow Functions](https://github.com/pingcap/docs/blob/master/sql/control-flow-functions.md) @morgo https://github.com/pingcap/docs/pull/1262
- [ ] [String Functions](https://github.com/pingcap/docs/blob

[2018-10-16 11:54] morgo commented on #672
PTAL @lilin90
cc @queenypingcap

[2018-10-17 15:33] #646 closed

[2018-10-26 19:41] morgo opened #690 "sql: Document EXPLAIN ANALYZE"
EXPLAIN ANALYZE is great!

We should amend the example here to show an example with analyze:
[./sql/understanding-the-query-execution-plan.md#example-usage](https://github.com/pingcap/docs/blob/master/sql/understanding-the-query-execution-plan.md#example-usage)

[2018-10-26 19:51] morgo commented on #690
@lysu what do you think - should it star with an example on the EXPLAIN page, or have a separate page?

Also, do you mind providing an explanation of `execution_info`:
- time
- loops
- rows

[2018-10-29 04:47] lysu commented on #690
Hi @morgo, IMO maybe more suitable in EXPLAIN page, it's just a optional for analyze :laughing:

- time: means total execution time of those executor, from "enter executor" to "exit executor", it contains the time of its sub-executor and it will sum up all executor call if those executor be call multple times from parent.
- loops: display the count of executor-call from parent executor.
- rows: gi

[2018-10-31 11:31] morgo opened #699 "Update SQL Keywords and Reserved Words to CAPS"
In https://github.com/pingcap/docs/pull/695 we determined that SQL keywords should be in all caps.  There are a number of pages that require updating.

[2018-11-01 15:53] morgo opened #704 "Document TiKV not supporting ambiguous timezones"
From: https://github.com/tikv/tikv/issues/3721

This will affect some users migrating from MySQL.

[2018-11-04 09:48] morgo opened #708 "Add AWS EKS deployment"
We should add [AWS EKS](https://github.com/pingcap/tidb-operator/blob/master/docs/aws-eks-tutorial.md) to [here](https://pingcap.com/docs/op-guide/kubernetes/)

[2018-11-06 09:00] queenypingcap commented on #597
@YiniXu9506 Could you please take a look? Thanks!

[2018-11-06 09:02] YiniXu9506 commented on #597
@queenypingcap Yes, I have talked to Morgan, and am planning to develop it.

[2018-11-07 09:33] pmzxlpyt opened #712 ""ulimit -n" related error"
TASK [check_system_dynamic : Preflight check - ulimit -n] *************************************************************************************************************************************************************
fatal: [192.168.117.231]: FAILED! => {"changed": false, "msg": "The default maximum number of open file descriptors is too low 4096, should be 1000000"}

NO MORE HOSTS LEFT ***********

[2018-11-07 09:46] Connor1996 commented on #712
The reason is `The default maximum number of open file descriptors is too low 4096, should be 1000000`. You can use `ulimit -n 1000000` to set

[2018-11-07 09:52] Connor1996 commented on #712
just run `sudo ulimit -n 1000000` in your command-line

[2018-11-07 09:52] pmzxlpyt commented on #712
when i close the check  session "check_system_dynamic" in deploy.ini file ,it is ok now. but i think it is not a good idea

[2018-11-07 09:53] Connor1996 commented on #712
yeah, it is not a good idea

[2018-11-07 09:53] pmzxlpyt commented on #712
@Connor1996  thx

[2018-11-07 09:58] #712 closed

[2018-11-07 09:59] lilin90 commented on #712
@Connor1996 Thanks for your quick response :)

[2018-11-08 01:11] morgo commented on #606
Via the [mysql docs](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html).  Here is my understanding so far:

### Supported

- strict-trans-tables
- ansi-quotes
- no-auto-create-user (will merge soon)
- only-full-group-by (* minor semantic differences)
- strict-all-tables

### Not applicable
- no-dir-in-create
- no-engine-substitution
### Deprecated, will not add

- no field options
- no key opt

[2018-11-08 05:54] pmzxlpyt opened #716 "add PD node"
following 【https://pingcap.com/docs-cn/op-guide/ansible-deployment-scale/】 to add PD node ,it isn't available

![image](https://user-images.githubusercontent.com/43162966/48180205-8b19fd00-e35d-11e8-8107-919e64b322dc.png)

error:
/home/tidb/tidb-ansible/resources/bin/pd-ctl -u "http://117.168.117.244:2379" -d member
Failed to get pd members: Get http://117.168.117.244:2379/pd/api/v1/members: dial

[2018-11-08 06:13] shenli commented on #716
What do you mean by "it isn't available"?
Have you checked if the PD cluster is running?

[2018-11-08 06:48] pmzxlpyt commented on #716
@shenli  how can i check the PD clulster?
![image](https://user-images.githubusercontent.com/43162966/48182209-58740280-e365-11e8-9c2a-2c90a09db5c6.png)

[2018-11-08 06:52] disksing commented on #716
Hi @pmzxlpyt , could you check the log of the new PD?

[2018-11-08 06:54] disksing commented on #716
Also, please replace the IP in command to an old PD and run the `member` command to see the cluster status.

[2018-11-08 06:59] pmzxlpyt commented on #716
yes , i replaced the IP as follow

#!/bin/bash
set -e
ulimit -n 1000000

# WARNING: This file was auto-generated. Do not edit!
#          All your edit might be overwritten!
DEPLOY_DIR=/home/tidb/deploy

cd "${DEPLOY_DIR}" || exit 1

exec bin/pd-server \
    --name="pd4" \
    --join="http://192.168.117.244:2379" \
    --advertise-client-urls="http://192.168.117.44:2379" \
    --peer-urls="http://

[2018-11-08 07:00] pmzxlpyt commented on #716
![image](https://user-images.githubusercontent.com/43162966/48182659-fddba600-e366-11e8-92be-f5626ab2db72.png)

[2018-11-08 07:01] pmzxlpyt commented on #716
![image](https://user-images.githubusercontent.com/43162966/48182704-29f72700-e367-11e8-8cce-05565a1ee206.png)

[2018-11-08 07:03] pmzxlpyt commented on #716
error msg:

github.com/pingcap/pd/server/config.go:276: \n/home/jenkins/workspace/build_pd_2.0/go/src/github.com/pingcap/pd/server/config.go:245: \n"
time="2018-11-08T14:56:27+08:00" level=fatal msg="parse cmd flags error: /home/jenkins/workspace/build_pd_2.0/go/src/github.com/pingcap/pd/server/config.go:250: -initial-cluster and -join can not be provided at the same time\n/home/jenkins/workspace/

[2018-11-08 07:12] disksing commented on #716
As the log says "-initial-cluster and -join can not be provided at the same ". I think you want to remove the `initial-clueter` line from the script. (It is also mentioned in the document)

[2018-11-08 07:15] pmzxlpyt commented on #716
yes, It is also mentioned in the document.   so remove the initial-cluster line . why it doesn't work?

[2018-11-08 07:19] pmzxlpyt commented on #716
Yes , I did it step by step as the document . why it doesn't work ?  @disksing

[2018-11-08 07:40] pmzxlpyt commented on #716
it is working now
![image](https://user-images.githubusercontent.com/43162966/48184202-4053b180-e36c-11e8-955a-164fb6e03401.png)

but the log-file=/home/tidb/deploy/log/pd.log  says "
2018/11/08 15:39:05.963 log.go:80: [error] rafthttp: [request sent was ignored (cluster ID mismatch: peer[138bca46ae09fa79]=da4e0e7733bc2114, local=8db684bda59786d5)]
2018/11/08 15:39:06.001 log.go:80: [error] raftht

[2018-11-08 07:57] disksing commented on #716
This is because a new cluster was incorrectly initialized when the previous configuration was wrong. You can try to kill the PD process, delete the "/home/tidb/deploy/data.pd" directory, and restart the PD again.

[2018-11-08 08:04] pmzxlpyt commented on #716
you are great !!! thx @disksing

[2018-11-08 08:11] pmzxlpyt commented on #716
it is working now(  the pd =192.168.117.44) ,but in my monitor background  i can't get it as before.
![image](https://user-images.githubusercontent.com/43162966/48185726-e73a4c80-e370-11e8-828d-0d563c2f881b.png)

[2018-11-08 08:12] pmzxlpyt commented on #716
And

 [tidb@Center-ctl tidb-ansible]$ /home/tidb/tidb-ansible/resources/bin/pd-ctl -u http://117.168.117.244:2379
? member
Failed to get pd members: Get http://117.168.117.244:2379/pd/api/v1/members: dial tcp 117.168.117.244:2379: i/o timeout

[2018-11-08 08:44] disksing commented on #716
em, it seems that this PD does not join successfully. Could you check log of the new PD again?

[2018-11-08 08:50] pmzxlpyt commented on #716
2018/11/08 16:03:10.061 util.go:62: [info] Welcome to Placement Driver (PD).
2018/11/08 16:03:10.061 util.go:63: [info] Release Version: v2.0.5
2018/11/08 16:03:10.061 util.go:64: [info] Git Commit Hash: b64716707b7279a4ae822be767085ff17b5f3fea
2018/11/08 16:03:10.061 util.go:65: [info] Git Branch: release-2.0
2018/11/08 16:03:10.061 util.go:66: [info] UTC Build Time:  2018-10-16 09:33:41
2018/11/

[2018-11-08 08:51] pmzxlpyt commented on #716
there is not any error message

[2018-11-08 08:51] pmzxlpyt commented on #716
2018/11/08 16:03:12.268 main.go:73: [fatal] join error etcdserver: unhealthy cluster

[2018-11-08 09:02] disksing commented on #716
It doesn't matter. From the last log messages, we can learn it should have joined successfully.

Please try run "curl http://117.168.117.244:2379/pd/api/v1/members" on the host where pd4 belongs to (117.168.117.244) to verify if there is something wrong with the network.

Also please run "curl http://192.168.117.243:2379/pd/api/v1/members" to check if the new PD is included in member list.

[2018-11-08 09:43] pmzxlpyt commented on #716
run "curl http://192.168.117.243:2379/pd/api/v1/members"  list:

{
  "header": {
    "cluster_id": 6621033703978490577
  },
  "members": [
    {
      "name": "pd1",
      "member_id": 1408441713399822969,
      "peer_urls": [
        "http://192.168.117.243:2380"
      ],
      "client_urls": [
        "http://192.168.117.243:2379"
      ]
    },
    {
      "name": "pd4",
      "member_id": 2087

[2018-11-08 09:57] pmzxlpyt commented on #716
@disksing  any idea?

[2018-11-08 12:12] #690 closed

[2018-11-08 22:46] morgo commented on #597
FIxed in https://github.com/pingcap/docs/pull/717 , thx @YiniXu9506 !

[2018-11-08 22:46] #597 closed

[2018-11-08 23:53] morgo opened #718 "Improve character set support documentation"
[This page](https://pingcap.com/docs/sql/character-set-support/) states:

This is incorrect.  It supports just utf8 (soon to be renamed utf8mb4).

The character set configuration page can also be merged into this page.

[2018-11-08 23:57] morgo opened #719 "Transactions page should not recommend read-committed"
On [this page](https://pingcap.com/docs/sql/transaction/) it recommends to use read-committed.

It should probably suggest using read-committed and explain that it is actually snapshot-isolation clearer.

There is also another example [here](https://pingcap.com/docs/sql/admin/#set-the-isolation-level).

[2018-11-08 23:58] morgo commented on #719
@shenli PTAL

[2018-11-09 00:05] morgo opened #720 "Example show statements incorrectly categorizes statements"
Via [this page](https://pingcap.com/docs/sql/admin/):

* `SHOW GRANTS FOR user` should be written as `SHOW GRANTS [FOR user]`
* `SHOW ENGINES` says it returns empty results.  It doesn't, it's compatible.
* `SHOW MASTER STATUS` also works (to an extent)
* `SHOW ENGINE engine_name STATUS` doesn't actually work - but it says it does.

[2018-11-09 00:07] morgo opened #721 "EXPLAIN is not in standard mysql format"
From [this page](https://pingcap.com/docs/sql/util/):

This statement is incorrect.  It should say "in addition to tabular format.."

`EXPLAIN ANALYZE` should also be added to this page.

[2018-11-09 06:02] pmzxlpyt opened #724 "pd list members"
why  only the leader pd can list members  using "curl http://192.168.117.243:2379/pd/api/v1/members"

pd1  : 192.168.117.243
pd2  : 192.168.117.244
pd3  : 192.168.117.245
pd4  : 192.168.117.44     ( new one)

come back to [#716 ](https://github.com/pingcap/docs/issues/716)

[2018-11-09 06:30] pmzxlpyt commented on #716
my God!!!!!!!!!!!!

[2018-11-09 06:31] #724 closed

[2018-11-13 05:29] pmzxlpyt opened #733 "Not system error"
[SQL]select * from ori_Orders
where orderId in (SELECT AutoId from ori_Orders GROUP BY AutoId HAVING count(1)>1) limit 10;

[Err] 2013 - Lost connection to MySQL server at 'reading initial communication packet', system error: 0 "Internal error/check (Not system error)"

[2018-11-13 05:32] #733 closed

[2018-11-13 07:03] pmzxlpyt opened #734 "Lost connection to MySQL server during query"
From Navicat for MySQL connect to Tidb for query  ,it was often Lost connection over 30 seconds
[SQL]select t1.* from ori_Orders t1 inner join  (
SELECT AutoId from ori_Orders  t2  GROUP BY AutoId HAVING count(1)>1)  t3
on t1.AutoId=t3.AutoId ;

[Err] 2013 - Lost connection to MySQL server during query

[2018-11-13 07:20] pmzxlpyt commented on #734
How can i change  tidb the config?

[2018-11-20 07:29] tiancaiamao commented on #716
Is this issue solved?  @pmzxlpyt  @disksing

By the way, you can file issues to TiDB and PD repository (rather than here) to get more rapid response.

[2018-11-20 09:05] disksing commented on #716
It should be fixed. Please reopen if not :-) /cc @pmzxlpyt

[2018-11-20 09:05] #716 closed

[2018-11-20 17:52] #606 closed

[2018-11-21 11:30] morgo commented on #708
Fixed in https://github.com/pingcap/docs/pull/727

[2018-11-21 11:30] #708 closed

[2018-12-03 22:04] morgo opened #795 "Document how to watch progress of DDL"
I added an index to a table with 100M rows.  It looks like I can track progress by watching `RowCount`!  It would be nice to document this:

[code]

[2018-12-04 10:58] winkyao commented on #795
@morgo we'll document this later, thanks

[2018-12-06 15:36] morgo commented on #795
Thanks @zimulala ; I didn't spot this!

I will leave this issue open.  It makes sense to show an example, perhaps chaining commands like this:
```mysql> admin show ddl; select sleep(60); admin show ddl;```

The DBA can then observe the progress in 60 seconds and project.

[2018-12-07 15:06] morgo opened #807 "better document select for update"
The behavior is described here: https://github.com/pingcap/tidb/issues/6591
(I didn't realize it worked that way.)

Currently, we just say [it doesn't work the same way as MySQL](https://www.pingcap.com/docs/sql/mysql-compatibility/#transaction-model), which is correct.  But it would be nice to have a manual page with a better explanation.

[2018-12-13 14:39] morgo commented on #795
Awesome, thx!  I am going to close this issue.

[2018-12-13 14:39] #795 closed

[2018-12-17 09:19] chalsliu opened #815 "Want to know whether it is the expected result"
[code]

[2018-12-17 09:22] shenli commented on #815
@chalsliu Would you mind file an issue in [tidb repo](https://github.com/pingcap/tidb/issues/new?template=bug-report.md)? There is an issue template for some requested information.

[2018-12-17 12:05] chalsliu commented on #815
No problem.

[2018-12-17 12:11] #815 closed

[2018-12-24 03:17] disksing opened #826 "Update go-client document"
There have been some go mod related issues reported recently, we need to add a description of go mod in the documentation: https://github.com/pingcap/docs/blob/master/tikv/go-client-api.md

See: https://github.com/pingcap/tidb/issues/8774 https://github.com/tikv/tikv/issues/3828 https://github.com/tikv/tikv/issues/3900

[2018-12-27 05:32] morgo commented on #704
This issue has been fixed.  Closing.

[2018-12-27 05:32] #704 closed

[2018-12-27 09:02] #826 closed

[2018-12-27 19:29] morgo opened #831 "Add a section on mysql compatibility page: KILL syntax"
There is a great explanation on why `KILL TIDB` is required in the snippet I pasted in https://github.com/pingcap/tidb/issues/8854

This manual page could also explain better why it is not compatible: https://pingcap.com/docs/op-guide/tidb-config-file/#compatible-kill-query

[2018-12-29 02:01] morgo opened #833 "Add section on mysql compatibility page: ANALYZE TABLE command"
Analyze table in TiDB takes *significantly* longer in TiDB than MySQL (not a bad thing in itself - it builds different/better statistics), whereas MySQL(InnoDB) just samples random pages.

It should be documented, since some naive scripts may need to be changed (i.e. expecting ANALYZE to take less than a second, when it takes 30 minutes..)

[2018-12-29 02:02] morgo opened #834 "Add page on MySQL commands that are noops in TiDB"
It might be useful to clarify in one location that some MySQL-isms aren't relevant to TiDB, and so for compatibility just return OK.

For example: FLUSH LOGS, FLUSH HOSTS, etc.

[2019-01-14 02:04] jeeffy opened #848 "data size for performance test in tpch-v2.md"
The docs/benchmark/tpch-v2.md is splendid, it shows that the performance of 2.1 has been greatly improved. But data size in each test table makes me confused. Can you show the following data?
[code]

[2019-01-14 02:16] zz-jason commented on #848
@jeeffy the scale is 50, https://github.com/pingcap/docs/blob/master/benchmark/tpch-v2.md#tidb-tpc-h-50g-performance-test-report-v21

[2019-01-14 03:36] jeeffy commented on #848
@zz-jason Thank you for reply. I know data size is 50G, but the amount of data is what I care about,  which is displayed as `Table size` in docs/benchmark/sysbench.md.

[2019-01-14 03:50] winoros commented on #848
`scale` factor is one factor of TPC-H's official data generation tool `DBGEN`.
Once the factor is defined, the size of each table is always the same.
![data size](https://user-images.githubusercontent.com/7846227/51095732-ca4b4b00-17f1-11e9-8cd1-ed8510db35fe.png)
This img is the screenshot of TPC-H's official document. It tells the table size of `scale = 1`.
When `scale=50`, the size of each table

[2019-01-16 06:31] morgo opened #858 "document maximum number of columns per table"
It would be good to list this in the mysql compatibility section of the manual.

[2019-01-21 08:47] morgo commented on #718
Conflicts with https://pingcap.com/docs/sql/character-set-configuration/

[2019-01-26 13:17] GregoryIan opened #874 "update DM document"
- [x] [deploy](https://pingcap.com/docs/tools/data-migration-deployment/),  remove server_id and use source_id in sample config file
- [x] [sharding overview and design detail](https://github.com/pingcap/tidb-tools/blob/docs/docs/dm/zh_CN/shard-table/shard-merge.md)
  - Updated and added in #887
- [x] [troubleshot shard ddl lock](https://github.com/pingcap/tidb-tools/blob/docs/docs/dm/zh_CN/shard-

[2019-01-26 13:48] GregoryIan commented on #874
@lilin90 I simply sorted out the documents that need to be modified, and you can adjust them. I will help you to modify them next week, and I hope that you can take the time to deploy and use DM to confirm this document is useful. :smiley:   Let's cheer together.

[2019-01-27 04:20] lilin90 commented on #874
Thanks! Currently, we already have the [relay log](https://github.com/pingcap/docs/blob/master/tools/dm-relay-log.md) and [simple task scenario](https://github.com/pingcap/docs/blob/master/tools/dm-simple-synchronization-scenario.md) documents, and I added them to TOC in #869. And I saw your PR #873. We can discuss the TOC later.

[2019-01-29 04:52] xiaobogaga opened #880 "the link [Developer install guide (single machine)] seems to be wrong."
Hi, I found there is a **wrong link** on page [TiDB quickStart](https://pingcap.com/docs/QUICKSTART/) and with text **"Developer install guide (single machine)"**, actually this link refers to http://www.tocker.ca/this-blog-now-powered-by-wordpress-tidb.html, So, I think this is definitely wrong.

A fix might be required.

[2019-01-29 16:25] GregoryIan commented on #874
@lilin90 you can add the items that you found while you try DM into this issue, easy to trace them

[2019-01-29 23:02] lilin90 commented on #874
@Gregorylan Got it. I'll add them later.

[2019-01-30 07:05] queenypingcap commented on #880
Thanks @xiaobogaga !
The link is contributed by the community and points to the contributor's personal blog where he installed and deployed a single-machine TiDB for his blog. So the link is not wrong and we welcome more links from the community!
Please be noted that the deployment is for developer experiment only, not for production usage.

[2019-01-30 07:05] #880 closed

[2019-01-30 18:01] gregwebs commented on #880
@queenypingcap I also find this link to be confusing. @morgo maybe you can create a post designed for the audience that would click this link. I think the way the content is laid out (starting with a personal announcement) is very confusing when you click the link, and if it were just slightly re-titled and re-arranged it would make sense.

[2019-02-08 22:49] morgo opened #888 "FAQ on timeout is incorrect"
See: https://github.com/pingcap/docs/blob/master/FAQ.md#does-tidb-support-session-timeout

This was added in https://github.com/pingcap/tidb/pull/8346

[2019-02-26 18:50] c4pt0r opened #920 "Add TiDB package to Download page"
Even though we have tools download link in this page:
https://github.com/pingcap/docs/blob/master/tools/download.md

But there is not a summary page that contains all the download address links, e.g. TIDB package/TiDB Ansible/...

[2019-02-26 19:05] morgo commented on #920
@ceohockey60 PTAL

[2019-02-26 19:57] morgo commented on #920
# Stable Releases

TiDB 2.1 is the current stable release.  It was released in November 2018.

## All Components

| Package Name  | OS | Architecture |
|------------------------|------|-------------------|
| [tidb-release-2.1-linux-amd64.tar.gz](http://download.pingcap.org/tidb-release-2.1-linux-amd64.tar.gz) | Linux | amd64 |
| [tidb-release-2.1-darwin-amd64.tar.gz](http://download.pingcap.org/ti

[2019-02-26 19:59] morgo commented on #920
^ These are TiDB downloads only.  It doesn't cover install methods such as dbdeployer, homebrew, k8s (dind, gcp, aws, azure), ansible.  I think splitting by install method might be friendlier.

[2019-03-12 07:52] #874 closed

[2019-03-13 08:11] Soft-me opened #952 "Lost connection to MySQL server during query using count distinct"
Report this odd situation.
Running code following,
[code]
I get error:
`2013 - Lost connection to MySQL server during query`
When I remove `distinct` and rerun, it works.

[2019-03-14 04:00] morgo opened #954 "JSON_ARRAY_APPEND was recently added"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

The function json_array_append has recently merge

[2019-03-15 16:23] morgo commented on #952
@Soft-me This looks like it could be a bug.  Do you mind recreating the issue in https://github.com/pingcap/tidb?

We will need to know the version of TiDB you are using and the output of `SHOW CREATE TABLE order; SHOW CREATE TABLE direct`.  Thanks!

[2019-03-15 16:23] #952 closed

[2019-03-17 00:31] morgo opened #956 "ADMIN CHECKSUM TABLE command undocumented"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

The command added here is completely undocumented

[2019-03-19 07:37] kennytm commented on #956
@morgo  In #663 the `admin show slow` statement was documented in `sql/slow-query.md` instead of `sql/admin.md`. Do you think it is better to document `admin checksum table` in `tools/lightning/*`?

Additionally there are several undocumented ADMIN statements like `admin check table`, `admin check index`, `admin cleanup index` etc (not related to Lightning).

[2019-03-19 21:49] morgo opened #960 "BENCHMARK function is missing"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

The benchmark function was merged in https://gith

[2019-03-19 21:51] morgo commented on #956
@kennytm I think they should all be documented :-)  There is no harm in mentioning them in both places.

[2019-03-21 23:10] kolbe commented on #833
Since ANALYZE TABLE is *such* a lightweight command in MySQL that I wonder if it would possibly be better to add a new keyword to run this "full" TiDB ANALYZE that takes a long time? `ANALYZE [TIDB] TABLE` or something? Just a thought to prevent poor administrators from getting into lots of trouble.

[2019-03-21 23:32] morgo commented on #833
@kolbe I think you would still need to do something for `ANALYZE`, it is not safe to just make it a noop.  We plan to add incremental `ANALYZE` soon, in which case this may become less of an issue.  I think we should document for now though.

[2019-03-22 03:32] kolbe commented on #833
I think that kind of depends on the timeline for implementing the "incremental `ANALYZE`". Right now, `KILL` (without the `TIDB` keyword) is a noop, so there's some precedent for adding the `TIDB` keyword to dangerously divergent behavior. As more of these features are added to TiDB, and these operations are made less surprising, we'll presumably also be seeing an upward curve in adoption, so plen

[2019-03-26 17:38] #833 closed

[2019-03-26 17:40] #831 closed

[2019-03-28 10:24] ihipop opened #985 "Any Docs about how to sync two TiDB with syncer or something else"
## Question

We have  doc with how to make full backup of  `TIDB` with `mydumper`
And sync `MySQL` server to TIDB with `syncer`
but we have no Doc about  sync between two TiDB.
a full backup of  `TIDB` with `mydumper` takes too much time,We want a way to sync increment data  between two TiDB.

[2019-03-28 10:42] kennytm commented on #985
Hi. You could use [TiDB-Binlog](https://pingcap.com/docs/tools/tidb-binlog-cluster/) ([Chinese docs](https://pingcap.com/docs-cn/tools/tidb-binlog-cluster/)) to synchronize changes from one TiDB cluster to another TiDB database.

[2019-03-28 10:56] ihipop commented on #985
@kennytm Thanks,I will read about it carefully

[2019-03-28 10:56] #985 closed

[2019-03-29 21:11] morgo opened #999 "Move from master to published branch, make README.md more instructive"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

Currently `README.md` is a duplicate of `overview

[2019-04-01 20:23] morgo opened #1002 "Document TiDB float to int cast behavior"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

Missing a mysql compatibility difference

2. Desc

[2019-04-05 23:59] c4pt0r opened #1019 "Update command"
File: [tispark/tispark-quick-start-guide.md](https://pingcap.com/docs/tispark/tispark-quick-start-guide/)

mysql -h 192.168.0.2 -P 4000 -u root < dss.ddl
shoule be
mysql --local-infile=1 -h 192.168.0.2 -P 4000 -u root < dss.ddl

[2019-04-08 03:41] CaitinChen commented on #1019
Fixed at: https://github.com/pingcap/docs/pull/1020

[2019-04-09 06:53] ilovesoup commented on #1019
Confirmed from Dev and this change should applied to all version of tidb.

[2019-04-12 20:53] c4pt0r commented on #1019
https://github.com/pingcap/tidb-docker-compose

README

[2019-04-14 04:21] morgo opened #1044 "The link to create an issue should be of type bug"
File: [trouble-shooting.md](https://pingcap.com/docs/trouble-shooting/)

Change: https://github.com/pingcap/tidb/issues/new
To: https://pingcap.com/docs/report-issue/

Or alternatively: https://github.com/pingcap/tidb/issues/new?template=bug-report.md (the current link skips the template and chooser.)

[2019-04-15 02:35] CaitinChen commented on #1019
I will fix this issue of README soon.

[2019-04-15 03:51] CaitinChen commented on #1019
@c4pt0r What part should be changed in README.md?

[2019-04-16 06:49] CaitinChen commented on #1019
Fixed at: https://github.com/pingcap/tidb-docker-compose/pull/61

[2019-04-16 07:57] #1019 closed

[2019-04-28 09:59] CaitinChen commented on #1044
Thanks. Fixed at: https://github.com/pingcap/docs/pull/1091

[2019-04-30 06:04] #1044 closed

[2019-05-08 05:56] morgo commented on #372
This is being tracked in the TiDB issue queue as https://github.com/pingcap/tidb/issues/6347

To reduce duplication, I am going to close this issue. Thank you for your feature request!

[2019-05-08 05:56] #372 closed

[2019-05-08 05:58] morgo commented on #331
This is being tracked in TiKV as https://github.com/tikv/tikv/issues/3680

I am going to close this issue here to reduce duplication. Thank you for your feature request!

[2019-05-08 05:58] #331 closed

[2019-05-17 02:02] dotmanila opened #1151 "max-merge-region-keys vs max-merge-region-rows"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://www.pingcap.com/docs/dev/reference/tools/pd-control/

2.

[2019-05-17 02:51] disksing commented on #1151
Hi @dotmanila , thanks for your report. The `pd-control` document is located in `docs/dev/reference/tools/pd-control.md`. And yes the document is outdated, thanks again. We will start to fix it.

[2019-05-20 18:17] #1151 closed

[2019-06-18 15:30] morgo commented on #721
No longer an issue

[2019-06-18 15:30] #721 closed

[2019-06-24 18:06] morgo commented on #720
obsolete, the content was moved around.

[2019-06-24 18:06] #720 closed

[2019-06-24 18:16] #888 closed

[2019-06-24 18:16] #954 closed

[2019-06-25 02:12] morgo commented on #718
Fixed

[2019-06-25 02:12] #718 closed

[2019-06-25 07:28] duramen opened #1264 "Security Compatibility with MySQL"
File: [v3.0/reference/security/compatibility.md](https://pingcap.com/docs/v3.0/reference/security/compatibility/)

I want to know if TiDB also has problems like mysql vulnerability cve-2019-2632？
Thanks！

[2019-06-25 12:28] #807 closed

[2019-06-25 13:08] #672 closed

[2019-06-25 13:08] #960 closed

[2019-06-25 13:12] morgo commented on #1264
TiDB is not based on the MySQL source code, so in most cases it won't share the same CVEs.

This vulnerability is based on pluggable authentication, which is currently not a feature supported by TiDB. It is on the plan to add it soon.

Let me know if you have any further questions.

[2019-06-25 14:22] morgo commented on #719
This has been fixed.

[2019-06-25 14:22] #719 closed

[2019-06-25 18:14] morgo commented on #956
`ADMIN` is now documented here:
https://pingcap.com/docs/v3.0/reference/sql/statements/admin/

It makes sense to break this into sub-statement documentation though.

[2019-06-28 20:44] morgo commented on #834
More examples:
- Foreign keys
- Get lock /select lock
- Isolation levels other than repeatable-read
- various sysvars
- collations

[2019-07-02 04:48] VoxT opened #1298 "v3.0.0 ready for production"
File: [v3.0/how-to/deploy/orchestrated/ansible.md](https://pingcap.com/docs/v3.0/how-to/deploy/orchestrated/ansible/)

2.1 version still recommended on branch v3.0, is v3.0.0 ready for production

[2019-07-05 11:52] kaeverens opened #1328 ""ROWS" missing from reserved keywords list"
1. Describe what you find is inappropriate or missing in the existing docs.

I diagnosed an issue with a query that was working in MySQL but is not working in TiDB, and think that TiDB has reserved the keyword "ROWS"

2. Describe your suggestion or addition.

The [Reserved Keywords](https://pingcap.com/docs/v3.0/reference/sql/language-structure/keywords-and-reserved-words/#keywords-and-reserved-wo

[2019-08-05 08:13] lilin90 commented on #1328
@CaitinChen Please help add `ROWS` to the [Reserved Keywords](https://pingcap.com/docs/v3.0/reference/sql/language-structure/keywords-and-reserved-words/#keywords-and-reserved-words) table for `v3.0` and `dev`. Thanks!

[2019-08-05 08:15] CaitinChen commented on #1328
@lilin90 OK

[2019-08-06 01:38] zhouqiang-cl opened #1419 "refine description"
https://pingcap.com/docs/v3.0/how-to/maintain/backup-and-restore/
there is one note "You can use mydumper to export data from MySQL and loader to import the data into TiDB."
which we just use tidb not mysql, maybe it should be "mydumper & loader are used for mysql protocol and can be used for tidb"

[2019-08-06 01:40] zhouqiang-cl opened #1420 "a error in backup & restore"
in https://pingcap.com/docs/v3.0/how-to/maintain/backup-and-restore/ there is a note:
-t can be set to 3 * (1 ~ n)

but you give the value 64, which not the factor of 3 and where the 64 come from

[2019-08-06 01:41] zhouqiang-cl opened #1421 "dumper has error"
when backup & restore. I meet an error:
** (mydumper:27528): CRITICAL **: 13:25:09.081: Could not read data from samsung_bench.TEST_TBL: GC life time is shorter than transaction duration, transaction starts at 2019-08-05 21:10:01.451 +0800 CST, GC safe point is 2019-08-05 21:14:53.801 +0800 CST

I think it should in the doc and tell the others how to solve this common cases

[2019-08-06 06:55] #1298 closed

[2019-08-07 07:43] lilin90 opened #1427 "Update Docker Compose link"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

    Update the Docker Compose deployment file link.

2. Describe your suggestion or addition.

    Only keep Docker Compose deployment in `dev`.

3. Provide some reference materials (documents, websites, etc) if you could.

    N/A

[2019-08-07 08:31] CaitinChen commented on #1328
Fixed at https://github.com/pingcap/docs/pull/1428, https://github.com/pingcap/docs-cn/pull/1720

[2019-08-07 08:57] CaitinChen commented on #1328
"ROWS (R)" is not a reserved word in v2.1. I remove it in https://github.com/pingcap/docs/pull/1431

[2019-08-07 08:57] #1328 closed

[2019-08-07 22:55] gregwebs opened #1433 "TiDB in Kubernetes has both "Configure" and "Reference/Configuration""
## Change Request

It took me a while to find the local PV document because I assumed it would be under "Configure/". Others [may be having trouble](https://github.com/pingcap/tidb-operator/issues/740) also. Why do we have configuration in 2 places?

I would prefer to remove the "Reference" heading and just use Configur(e/ation). Promote "Tools" to the top-level.

[2019-08-26 12:21] dcalvin commented on #1433
@gregwebs This is arranged so that we could scale our documentation with a nice structure. Configure under How-to is task-oriented, while Configuration under Reference is reference oriented (configuration commands, items, descriptions).  We can take one out for now but in the long run, with many more configuration items added, the structure will be messy.

Also we are re-designing our website, wit

[2019-08-27 11:29] #1421 closed

[2019-08-27 11:30] #1420 closed

[2019-09-11 11:50] jingyugao opened #1518 "对于 Read 来说，也是一样的操作，唯一不同在于 Leader 可以直接提供 Read，不需要走 Raft。"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://pingcap.com/blog-cn/how-tikv-store-get-data/

2. How woul

[2019-09-13 07:49] zhangjinpeng1987 commented on #1518
@jingyugao in leader we use lease read.

[2019-09-16 02:31] CaitinChen commented on #1518
@jingyugao Do you have any comment?

[2019-09-16 07:07] jingyugao commented on #1518
Thanks.

[2019-09-16 07:07] #1518 closed

[2019-09-23 08:56] ericsyh commented on #1420
Updated in https://github.com/pingcap/docs-cn/pull/1838

[2019-09-23 08:59] ericsyh commented on #1419
"You can use mydumper to export data from TiDB and loader to import the data into TiDB." will be more accurate since it's backup and restore not migrate.

[2019-09-23 09:00] #1419 closed

[2019-10-11 01:18] siddontang opened #1580 "Get helm version failed on Mac"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://github.com/pingcap/docs/blob/master/v3.0/tidb-in-kuberne

[2019-10-11 03:33] tennix commented on #1580
Yes, the mac `grep` is from BSD while the Linux `grep` is from GNU, there are some differences between the two version. @Yisaer Could you help to fix this?

[2019-10-11 03:34] Yisaer commented on #1580
sure

[2019-10-16 09:23] Yisaer commented on #1580
fix in https://github.com/pingcap/docs/pull/1582

[2019-10-16 09:23] #1580 closed

[2019-10-29 05:31] yikeke commented on #625
Hi @pmzxlpyt , did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:36] yikeke commented on #734
Hi @pmzxlpyt , did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:41] yikeke commented on #1264
Hi all, because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you have any further questions~

[2019-10-29 05:41] #1264 closed

[2019-11-01 03:02] #734 closed

[2019-11-01 03:02] yikeke commented on #734
Feel free to reopen it if you have any further questions~

[2019-11-01 03:02] #625 closed

[2019-11-01 03:02] yikeke commented on #625
Feel free to reopen it if you have any further questions~

[2019-11-22 02:52] jievince opened #1664 "What is the tool used to generate your online docs?"
I see yours online docs website: http://pingcap.com/docs/
It's beautiful and has version control feature, so what' the tool to make it?

[2019-11-23 11:01] YiniXu9506 commented on #1664
Hi @jievince! We are glad to hear this.

We are using Hugo to build our website. Hugo can render the markdown file to html file. Since every version has its own TOC.md, we have Hugo template to handle these versions according to users' choice.

Appreciate again!

[2019-11-24 09:31] jievince commented on #1664
Wow, thanks very much. It helps me a lot.

[2019-11-25 02:21] #1664 closed

[2019-11-27 07:47] darkelf21cn opened #1673 "Could you please explain what does TSO mean?"
File: [v3.0/reference/key-monitoring-metrics/tidb-dashboard.md](https://pingcap.com/docs/v3.0/reference/key-monitoring-metrics/tidb-dashboard/)

[2019-11-27 07:51] darkelf21cn commented on #1673
I think I found the answer. TSO stands for [Timestamp Oracle](https://pingcap.com/docs/stable/how-to/get-started/read-historical-data/#how-tidb-reads-data-from-history-versions).

[2019-11-27 07:51] #1673 closed

[2019-11-29 14:08] yangwenmai opened #1682 "LOAD DATA is unsupported"
## Error Report

LOAD DATA LOCAL INFILE

[code]

tidb version:

[code]

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://github.com/pingcap/docs/blob/master/dev/how-to/get-started/import-example-database.md

2. How would you like to improve it?

[2019-12-02 12:21] aylei opened #1684 "Document how to manage pump in tidbcluster CR"
## Change Request

As per https://github.com/pingcap/tidb-operator/pull/1269

[2019-12-03 07:41] imtbkcat commented on #1682
@yangwenmai For the mysql client, local data loading is disabled by default. To enable it explicitly, please use the --local-infile=1.

[2019-12-03 07:45] CaitinChen commented on #1682
@yangwenmai Does this work for you？

[2019-12-03 09:43] jackysp commented on #1682
Hi @yangwenmai ,
Please refer to the official FAQ https://pingcap.com/docs/stable/faq/tidb/#error-1148-42000-the-used-command-is-not-allowed-with-this-tidb-version

[2019-12-03 10:35] yangwenmai commented on #1682
It's worked.
Thanks

[2019-12-05 06:52] CaitinChen commented on #1682
Docs updated. https://github.com/pingcap/docs/pull/1686

[2019-12-05 06:52] #1682 closed

[2019-12-16 12:21] lilin90 commented on #662
The partitioning doc had been added in https://github.com/pingcap/docs/pull/1300, so I'll close this issue. You can also [view this doc on the PingCAP website](https://pingcap.com/docs/stable/reference/sql/partitioning/).

[2019-12-16 12:21] #662 closed

[2019-12-24 19:19] wwar opened #1724 "Update Security Compatibility"
## Error Report

1. What is the URL/path of the document related to this issue?

https://pingcap.com/docs/dev/reference/security/compatibility/

2. How would you like to improve it?

Since https://github.com/pingcap/tidb/pull/13955 has merged (and will soon be backported to 3.0), the security compatibility page is out of date.

[2019-12-26 02:59] lilin90 commented on #1724
@lysu Could we remove this line `Using certificates for authentication is not supported #9708` in the [Security Compatibility with MySQL](https://pingcap.com/docs/dev/reference/security/compatibility/) file now?

[2019-12-31 11:03] #1724 closed

[2020-01-11 18:07] wwar opened #1764 "Documentation on tidb_ddl_reorg_{worker_cnt,batch_size} defaults is wrong"
## Error Report

1. What is the URL/path of the document related to this issue?

https://pingcap.com/docs/dev/reference/configuration/tidb-server/tidb-specific-variables/#tidb_ddl_reorg_worker_cnt
https://pingcap.com/docs/dev/reference/configuration/tidb-server/tidb-specific-variables/#tidb_ddl_reorg_batch_size

2. How would you like to improve it?

On a fresh install of TiDB, these are not the de

[2020-01-11 18:22] wwar opened #1765 "Questions about add index performance"
## Question

I have been casually comparing performance between TiDB and MySQL 8 (on a single server, so some skew). First off, I am quite happy with the import speed of [LOAD DATA](https://pingcap.com/docs/stable/how-to/get-started/import-example-database/) in TiDB. It looks to be greatly improved from earlier versions:
[code]
The workload is still in memory, which is a case where InnoDB should b

[2020-01-11 18:23] wwar commented on #1765
Sorry, I meant to open this in pingcap/tidb. I will close it.

[2020-01-11 18:23] #1765 closed

[2020-01-11 20:08] wwar opened #1766 "Unsupported JSON functions includes JSON_ARRAY_INSERT"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

This page https://pingcap.com/docs/dev/reference/

[2020-01-11 20:32] wwar opened #1767 "Generated Columns Docs are out of date"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

The docs on [generated columns](https://pingcap.com/docs/stable/reference/sql/generated-columns/) include a note:

The related issue has been fixed, and this note is no longer correct.

2. Describe your suggestion or addition.

Remove the note, change the example to a VIRTUAL column, since this is typic

[2020-01-11 20:36] wwar opened #1768 "sql-mode compatibility docs are out of date"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

On https://pingcap.com/docs/stable/reference/mysq

[2020-01-19 03:05] XuHuaiyu commented on #1766
@wwar Thanks, I think you're right.

/cc @TomShawn

[2020-01-19 03:08] XuHuaiyu commented on #1767
@wwar Thanks

@TomShawn Hi, @wjhuang2016 will update this doc.

[2020-01-19 03:15] XuHuaiyu commented on #1768
@wwar Thanks. For the SQL Modes which are deprecated in MySQL 5.7 and removed in MySQL 8.0, TiDB only supports the syntax of them but not the functionality.

@TomShawn We may update the doc to specify this.

[2020-02-03 18:54] yyt030 commented on #1664
The website is realy perfect. Do you share your config.toml and Hugo theme ?

[2020-02-05 10:55] TomShawn commented on #1766
@XuHuaiyu Please help update the [JSON Functions](https://pingcap.com/docs/dev/reference/sql/functions-and-operators/json-functions/) document to include the added function, thanks!

[2020-02-05 13:09] YiniXu9506 commented on #1664
@yyt030 We are happy you like it. You can refer the[ config.toml](https://github.com/pingcap/pingcap.github.io/blob/src/config.toml) here. Actually we build the theme by ourself. Thanks!

[2020-02-09 05:30] jackxwu opened #1802 "terraform version needs to be changed"
File: [v3.0/tidb-in-kubernetes/deploy/alibaba-cloud.md](https://pingcap.com/docs/v3.0/tidb-in-kubernetes/deploy/alibaba-cloud/)

i was using tidb-operator 1.0.6 and apparently it needs terraform 12

[2020-02-09 05:39] cofyc commented on #1802
thanks! you're right, 0.12.x is required now

[2020-02-09 05:40] cofyc commented on #1802
xref: https://github.com/pingcap/tidb-operator/issues/1659

[2020-02-10 02:19] CaitinChen commented on #1802
@cofyc Please help update related docs. Thanks.

[2020-02-10 03:10] TomShawn commented on #1767
@wwar Document updated: https://github.com/pingcap/docs-cn/pull/2200. Does it help you?

[2020-02-10 08:48] #1802 closed

[2020-02-19 19:17] wwar commented on #1767
@TomShawn It is much better, but still not ideal.

From here:
https://pingcap.com/docs/stable/reference/sql/generated-columns/

The example of `STORED` should be removed, and just show an example of `VIRTUAL`. There can be a note at the bottom of the page that `STORED` may be useful for computationally complex scenarios + scanning large amounts of data, but the ideal default case should be `VIRTUA

[2020-02-20 00:36] oraluben opened #1818 "helm version missing"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://github.com/pingcap/docs/blob/master/v3.0/tidb-in-kubernetes/reference/tools/in-kubernetes.md

2. How would you like to improve it?

There're some major changes (e.g. [#7052](https://github.com/helm/helm/issues/7052)) between helm 2 an

[2020-02-20 01:22] cofyc commented on #1818
thanks for reporting this bug! yes, the required version of helm is 2. we didn't support helm 3 yet.
we should use the specific way to install helm 2, not helm 3. does helm provide a way to install latest helm 2?

[2020-02-20 02:12] TomShawn commented on #1767
@wjhuang2016 Please take a look at the feedback, thanks!

[2020-02-20 02:15] oraluben commented on #1818
I'm not familiar with helm and looks like they are trying to move to 3 in most of the package managers, and `https://raw.githubusercontent.com/helm/helm/master/scripts/get` installs version 2 for backward compatibility.

[2020-02-20 02:38] cofyc commented on #1818
got it, we can continue to use this backward compatible install command.
but we should specify our required version of helm in docs as you suggested. can you send a PR for this?

[2020-02-20 03:03] wjhuang2016 commented on #1767
@wwar
Thanks for your feedback.
1. We have a plan to improve our documents, then I will rewrite the generated column docs completely, which will give the example of `virtual` and the usage scenarios about `store` and `virtual`.
2. The `virtual column expression substitution` is still WIP, it only support base substitution in where clause, we will give a doc about it when this feature is mature.

[2020-02-20 03:49] oraluben commented on #1818
sure. Am I supposed to only update the latest version (dev & 3.x) or all version?

[2020-02-20 05:21] cofyc commented on #1818
Thanks! all versions (dev, 3.0, 3.1) should be updated.

[2020-02-21 09:17] #1818 closed

[2020-03-03 02:23] GregoryIan opened #1930 "BR English documentation is not updated in time"
Recently, many developers and users have asked about BR, but at present, our English documentation for BR is not up-to-date and needs to be updated. Thank you.

https://pingcap.com/docs-cn/dev/reference/tools/br/use-cases/#%E5%A4%87%E4%BB%BD%E5%A4%B1%E8%B4%A5

[2020-03-03 02:36] TomShawn commented on #1767
@wwar To better manage our issues, I'll close this one. If you have further questions, feel free to open another issue, thanks!

[2020-03-03 02:36] #1767 closed

[2020-03-03 04:02] lilin90 commented on #1930
@TomShawn Please address my comments in #1808. Thanks!

[2020-03-03 04:27] TomShawn commented on #1930
Comments addressed, PTAL again, thanks!

[2020-03-03 09:52] lilin90 commented on #1930
@GregoryIan FYI. #1808 Waiting for @3pointer's review now, or you can have a review.

[2020-03-05 02:32] TomShawn commented on #1930
@GregoryIan Now the BR English document is updated: [BR Usage Scenarios](https://pingcap.com/docs/dev/reference/tools/br/use-cases/), FIY.

[2020-03-10 00:56] ran-huang commented on #1764
Thanks for reporting this issue!
Please check out this PR https://github.com/pingcap/docs/pull/1974, where we have changed the default value for the two variables in our docs.
Feel free to ask me if you have any other question.😀

[2020-03-10 01:04] ran-huang commented on #1930
Hi, @GregoryIan! Is this issue resolved by https://github.com/pingcap/docs/pull/1808? If so, we may close the issue now.

[2020-03-31 05:41] isacc-repo opened #2126 "部署方式连接404"
File: [-cn/_index.md](https://pingcap.com/docs-cn/)

[2020-04-01 01:37] shuperry opened #2133 "部署方式中的几个链接都打不开"
File: [-cn/_index.md](https://pingcap.com/docs-cn/)

[2020-04-01 07:34] ran-huang commented on #2126
Hi, thanks for pointing out!
Please visit <https://pingcap.com/docs-cn/stable/overview/> rather than <https://pingcap.com/docs-cn>.

[2020-04-01 08:20] ran-huang commented on #2133
Hi, thanks for pointing out!
You can try it here: https://pingcap.com/docs-cn/stable/overview/

[2020-04-01 08:22] shuperry commented on #2133
Ok, this one works.

[2020-04-01 08:38] ran-huang commented on #2133
Glad to hear that.
I'll close this issue now. If you have any other question, feel free to ask us😀

[2020-04-01 08:38] #2133 closed

[2020-04-01 09:14] #1930 closed

[2020-04-01 10:45] YiniXu9506 commented on #2126
@isacc-repo Thanks for your feedback! We have fixed this issue, PTAL! @ran-huang FYI

[2020-04-04 05:06] ran-huang commented on #2126
Closing this issue. If you have any other question, feel free to open a new issue~

[2020-04-04 05:06] #2126 closed

[2020-04-04 05:11] ran-huang commented on #1764
Closing this issue. If you have any other question, please open a new issue.

[2020-04-04 05:11] #1764 closed

[2020-04-09 04:06] yikeke opened #2218 "typo: tomestone -> tombstone"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

    https://pingcap.com/docs/v2.1/releases/2.1.17/
    https://p

[2020-04-14 08:49] lilin90 opened #2273 "Add the BR repo link to its user guide"
## Change Request

Describe your suggestion or addition.

Add the [BR (Backup & Restore) tool's GitHub repository link](https://github.com/pingcap/br) for [its user guide](https://pingcap.com/docs/stable/reference/tools/br/br/) page, to make it easier to check the repository.

[code]

Related issue: https://github.com/pingcap/docs-cn/issues/2733

[2020-04-18 21:00] wwar opened #2325 "Out of date FAQs"
## Error Report

These  FAQs are out of date, and not part of the challenge program, so I am filing a bug report here.

1. What is the URL/path of the document related to this issue?

https://pingcap.com/docs/stable/faq/tidb/

2. How would you like to improve it?

SHOW PROCESSLIST no longer shows memory (not mysql compatible behavior). The memory stats are in information_schema.processlist though.

[2020-04-20 02:39] ran-huang commented on #2325
@wwar Thanks for your feedback!
@zz-jason PTAL~

[2020-04-20 03:19] ran-huang opened #2331 "SQL keywords are not capitalized in mysql-compatibility.md"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://pingcap.com/docs/dev/reference/mysql-compatibility/
https

[2020-04-20 03:45] ran-huang opened #2332 "SQL keywords not enclosed by backticks"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://pingcap.com/docs/dev/reference/sql/language-structure/use

[2020-04-20 07:52] #2332 closed

[2020-04-22 10:55] #2331 closed

[2020-04-24 03:04] ran-huang commented on #2273
Closed in https://github.com/pingcap/docs/pull/2384

[2020-04-24 03:04] #2273 closed

[2020-04-29 09:06] Amber1990Zhang opened #2428 "How do you generate your PDF manual?"
## Question

I'm trying to get my own PDF manual with a lot of markdowns files. How do you make that? Thanks for your response.

[2020-04-29 09:14] TomShawn commented on #2428
@YiniXu9506 Please take a look, thanks!

[2020-04-30 01:26] Amber1990Zhang commented on #2428
Thanks for your reply.

[2020-05-06 02:29] Amber1990Zhang commented on #2428
Hello? Is anybody out there to help? Many thanks.

[2020-05-06 02:40] YiniXu9506 commented on #2428
Hi @Amber1990Zhang ! Firstly, we merge all markdown files to a single markdown file. Secondly, we use [pandoc](https://pandoc.org/MANUAL.html)  to convert this single markdown file to PDF. Hope this will help you!

[2020-05-06 02:43] Amber1990Zhang commented on #2428
Thanks for your reply, but how do you take care the TOC?

[2020-05-06 02:51] YiniXu9506 commented on #2428
Do you mean the TOC of PDF file? If the structure of your final single markdown file has h1, h2, h3 and so on, pandoc will generate the PDF TOC for you automatically.

[2020-05-06 02:53] Amber1990Zhang commented on #2428
How do you merge all markdown files into one?

[2020-05-07 04:03] wwar opened #2478 "Document ANALYZE TABLE incompatibilities with MySQL"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

ANALYZE TABLE docs need updating.

2. Describe yo

[2020-05-07 07:48] toutdesuite commented on #2478
@zz-jason PTAL. Thanks~

[2020-05-21 02:21] wwar commented on #1766
Actually, the page is more out of date. The only functions not supported now are:
[code]

I manually verified.

[2020-05-21 03:37] TomShawn commented on #1766
@XuHuaiyu Please help confirm and update the [unsupported JSON function](https://pingcap.com/docs/dev/functions-and-operators/json-functions/#unsupported-functions).

[2020-05-28 08:00] uglyengineer opened #2626 "v4.0.1 documents updates"
v4.0.1 documents updates

- [x] list of documents need to update in v4.0.1
- [x] documentation works
- [x] website updates

[2020-05-29 03:55] wwar opened #2633 "Generate h1 from hugo title"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

This is just a minor nit/cleanup for consistency:

Currently the title of the page is only used to generate the `<title>` tag. It could also be used to generate the first H1 of the document, as is common in other templates I've worked with.

2. Describe your suggestion or addition.

It can be retrofitte

[2020-05-29 03:58] wwar opened #2634 "Document Invisible Indexes"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

There is currently no documentation for invisible

[2020-05-29 04:02] wwar opened #2636 "Improve introduction / overview"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

The "introduction" section of the docs could be i

[2020-05-29 04:08] wwar opened #2638 "Flatten How-to -> Get Started and Deploy"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

I think it has been discussed before, but one of

[2020-05-29 04:11] wwar opened #2639 "Document ADMIN commands"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

In the statement reference, admin is documented a

[2020-05-29 04:14] wwar opened #2640 "Document SQL statements for binding"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

Binding is documented here: https://pingcap.com/d

[2020-05-29 04:17] wwar opened #2641 "Document Roles syntax in Statement index"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

The syntax for roles is not in the statement inde

[2020-05-29 04:22] wwar opened #2642 "System Databases section of manual is confusing"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://pingcap.com/docs/stable/system-table

[2020-05-29 04:28] wwar opened #2643 "Make 1 version of Roadmap"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

Currently the roadmap appears in every version of

[2020-05-29 05:27] toutdesuite commented on #2643
@lilin90 @yikeke PTAL~

[2020-05-29 05:34] toutdesuite commented on #2642
@reafans PTAL, thanks~

[2020-05-29 05:36] toutdesuite commented on #2633
@lilin90 @YiniXu9506 PTAL, thanks

[2020-05-29 05:50] toutdesuite commented on #2634
@bb7133 PTAL, thanks

[2020-05-29 05:56] toutdesuite commented on #2641
@bb7133 PTAL, thanks

[2020-05-29 05:58] toutdesuite commented on #2640
@lamxTyler @zz-jason PTAL, thanks

[2020-05-29 06:00] toutdesuite commented on #2639
@crazycs520 PTAL, thanks

[2020-05-29 07:25] TomShawn commented on #2634
@wwar Thanks very much. We do have invisible indexes-related documents that are not yet translated into English. The translation takes time and please stay tuned.

[2020-05-30 13:46] wwar commented on #2634
Awesome! The docs-cn document is looking good.

[2020-05-31 14:03] toutdesuite commented on #2638
@wwar Many thanks for your suggestion. The TOC (Chinese) has been updated, while the English version is to be updated. Once the translation done, I' ll leave a link in this issue~

[2020-05-31 14:04] toutdesuite commented on #2636
@wwar Many thanks for your suggestion!

[2020-06-02 05:33] toutdesuite commented on #2642
@crazycs520 PTAL, thanks~

[2020-06-08 03:41] imtbkcat opened #2719 "Confusing reference to variable in `LOAD DATA` document"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://pingcap.com/docs/stable/sql-statements/sql-statement-load

[2020-06-09 11:10] rachitmanit opened #2754 "Changed: br Sub command "version" is now an option --version"
File: [/br/backup-and-restore-tool.md](https://pingcap.com/docs/v4.0/br/backup-and-restore-tool/)

[2020-06-10 04:04] TomShawn commented on #2754
@3pointer @overvenus PTAL, thanks!
![image](https://user-images.githubusercontent.com/41534398/84225687-688c2f00-ab12-11ea-8213-555b5c0f8ed7.png)

[2020-06-10 06:02] overvenus commented on #2754
Thank you for the feedback, we will update it soon!

[2020-06-10 08:24] #2754 closed

[2020-06-11 10:22] #2719 closed

[2020-06-16 11:40] CaitinChen opened #2913 "Miss the "Edit this page" button"
File: [/_index.md](https://pingcap.com/docs/v4.0/)

We need to add the "Edit this page" button in index pages.

[2020-06-22 10:49] #2626 closed

[2020-07-05 15:19] ghost opened #3155 "Document missing system variables"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

In https://github.com/pingcap/docs/pull/3152 I co

[2020-07-05 22:14] Ishiihara opened #3156 "Should we move the DM Download to the DM documentation instead?"
File: [/download-ecosystem-tools.md](undefined/tidb/v4.0/download-ecosystem-tools)

[2020-07-06 03:19] toutdesuite commented on #3156
@WangXiangUSTC PTAL, thanks~

[2020-07-06 05:24] WangXiangUSTC commented on #3156
I think it's ok

[2020-07-06 11:59] #2478 closed

[2020-07-06 13:29] nullnotnil commented on #858
This has been documented: https://docs.pingcap.com/tidb/v4.0/tidb-limitations

[2020-07-06 13:29] #858 closed

[2020-07-06 13:29] nullnotnil commented on #999
GitHub has changed how they index branches, and `master` is no longer indexed either. This can be closed.

[2020-07-06 13:29] #999 closed

[2020-07-06 13:31] nullnotnil commented on #2640
This has been fixed. See: https://docs.pingcap.com/tidb/dev/sql-statement-create-binding

[2020-07-06 13:31] #2640 closed

[2020-07-06 13:32] nullnotnil commented on #2642
I would like to work on this if that works for you?

[2020-07-06 13:35] nullnotnil commented on #2634
Fixed in https://github.com/pingcap/docs/pull/2971

[2020-07-06 13:35] #2634 closed

[2020-07-07 01:44] nullnotnil commented on #956
I will close this and handle in https://github.com/pingcap/docs/issues/2639

[2020-07-07 01:44] #956 closed

[2020-07-07 02:09] yikeke commented on #3155
[This PR](https://github.com/pingcap/docs-cn/pull/3159/files) in docs-cn might cover some of the variables of your list. I'm translating this PR and the English version is expected to be merged by the end of this week.

[2020-07-07 02:27] nullnotnil commented on #3155
Yes, it does look like there are a lot in that PR! Let me know if there is anything I can do to help merge the two sets of changes better.

[2020-07-07 04:22] yikeke commented on #3155
Sure, I'll see what I can do to reduce the conflicts between the two sets of changes.

[2020-07-07 18:28] #2325 closed

[2020-07-08 03:12] nullnotnil commented on #2639
Here is a more up to date list of all the admin commands:
[code]

[2020-07-08 14:36] #2641 closed

[2020-07-10 04:44] yikeke commented on #3155
The English version of that PR is opened: https://github.com/pingcap/docs/pull/3215. Please take a look and let's figure out a way to merge the two sets of changes better. @nullnotnil

[2020-07-10 11:27] #1768 closed

[2020-07-10 12:17] nullnotnil commented on #3155
I will let #3215 merge first and then rebase my changes. I think this makes the most sense.

[2020-07-10 14:46] nullnotnil commented on #3155
I have updated this issue to remove what was documented in #3215

[2020-07-13 14:41] nullnotnil opened #3260 "Improve sysvar documentation"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

In the PR https://github.com/pingcap/docs/pull/31

[2020-07-20 15:37] #1766 closed

[2020-07-21 05:11] #2642 closed

[2020-07-21 09:23] yikeke opened #3357 "Remove extra escape characters"
Files that need update:

[/faq/tidb-faq.md - 3.1 branch](https://docs.pingcap.com/tidb/v3.1/tidb-faq)
[/faq/tidb-faq.md - 3.0 branch](https://docs.pingcap.com/tidb/v3.0/tidb-faq)
[/faq/tidb-faq.md - 2.1 branch](https://docs.pingcap.com/tidb/v2.1/tidb-faq)

Require change:

``` `sql\_mode` ``` -> ``` `sql_mode` ```

[2020-07-21 09:24] yikeke commented on #3357
/label good-first-issue

[2020-07-23 23:54] Ishiihara opened #3407 "Add more context on what do we expect for users in Step 1: Prerequisites and precheck"
File: [/production-deployment-using-tiup.md](https://docs.pingcap.com/tidb/stable/production-deployment-using-tiup)

It would be great if we can provide instructions on what users are expected to in the precheck
- For a testing deployment, what prechecks do users need to perform?
- For a production deployment, what prechecks do users need to perform?

[2020-07-23 23:56] lonng commented on #3407
/assign @lonng

[2020-07-31 04:14] uglyengineer commented on #2643
PMG (Product Management Group) will confirm a new presentation of TiDB Roadmap

[2020-07-31 09:38] yikeke commented on #2643
I removed the /roadmap.md link from TOC.md in master and all release branches, so now the docs website has no entry for the roadmap content, but users can still access roadmap.md via the URL. FYI @nullnotnil @scsldb @uglyengineer

[2020-08-03 15:10] TommyLemon opened #3530 "🎉 Supported TiDB with APIJSON(Auto supply APIs and Documents), and supplied a demo with Java and a quick start guide with pictures."
The quick start guide
https://www.zhihu.com/question/58767602/answer/557035883

Introduction for APIJSON
https://github.com/TommyLemon/APIJSON/blob/master/Document-English.md

Configuration for TiDB
https://github.com/TommyLemon/APIJSON/blob/cbffc9bb78cce29dec78ba100cdbca97eda97c85/APIJSON-Java-Server/APIJSONDemo/src/main/java/apijson/demo/server/DemoSQLConfig.java

[2020-08-03 15:11] nullnotnil commented on #3530
I have moved this issue from `pingcap/tidb`. I think it is possible to link to this from the documentation.

[2020-08-04 12:54] ran-huang commented on #3156
@WangXiangUSTC Is there any update on this issue?

[2020-08-05 02:49] ran-huang commented on #2638
@lilin90 PTAL~ I think using tabs is a good idea!
Like, in the following backup & restore docs, we can just group these similar docs together and use tabs to indicate the remote storage (GCS/S3) or the tools (BR/Dumpling/TiDB Lightning).
https://docs.pingcap.com/tidb-in-kubernetes/stable/backup-to-gcs
![image](https://user-images.githubusercontent.com/59654584/89366106-c602bd80-d708-11ea-8cda-03dc

[2020-08-05 03:03] WangXiangUSTC commented on #3156
I will do this this week

[2020-08-05 05:09] ran-huang commented on #2636
@wwar We have a [new structure](https://docs.pingcap.com/tidb/stable/overview) for the introduction part now. Do you have any suggestion for this?

[2020-08-09 22:14] nullnotnil commented on #2639
My plan is to break this up into smaller PRs:

First PR:
[code]
Second:
[code]
Third:
[code]

Fourth:
[code]

[2020-08-11 00:09] wwar commented on #2638
Here is an example in the [Kubernetes docs](https://kubernetes.io/docs/setup/production-environment/container-runtimes/) where this is done. I think it helps readability a lot.

[2020-08-11 00:13] wwar commented on #2636
LGTM, closing this issue.

[2020-08-11 00:13] #2636 closed

[2020-08-11 08:38] #3156 closed

[2020-08-15 07:17] Wheeeeeeeeels opened #3671 "About contribution"
## Question

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Before submitting your question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched the open and closed [GitHub issues](https://github.com/pingcap/docs/issue

[2020-08-17 02:29] TomShawn commented on #3671
@Wheeeeeeeeels Thanks very much for being interested in making a contribution to TiDB documentation! For the detailed guide, see https://github.com/pingcap/docs/blob/master/CONTRIBUTING.md. Look forward to your contribution!

[2020-08-17 05:56] TomShawn commented on #3671
@Wheeeeeeeeels What about taking a look at the `good first issues` in this repository? They can be a good start to make a contribution. 😀
https://github.com/pingcap/docs/issues?q=is%3Aopen+is%3Aissue+label%3Agood-first-issue

[2020-08-17 06:09] Wheeeeeeeeels commented on #3671
ok,i will,just wait for a minute

[2020-08-17 06:36] TomShawn commented on #3671
Can we close this issue for now?

[2020-08-17 10:44] Wheeeeeeeeels commented on #3671
Yes,sure!

[2020-08-17 10:44] #3671 closed

[2020-08-18 02:27] tiancaiamao commented on #3260
`auto` is not removed from `tidb_enable_table_partition`, the semantic of `on` is changed.
I explained why in the PR https://github.com/pingcap/tidb/pull/16497
@nullnotnil

[2020-08-24 23:57] kolbe opened #3720 "Improve documentation of tidb_general_log"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

TiDB has a "general query log", the purpose of wh

[2020-08-25 03:32] TomShawn commented on #3720
@zz-jason PTAL, thanks!

[2020-09-02 18:24] kolbe opened #3804 "tidb-server command line options missing from documentation"
File: [/command-line-flags-for-tidb-configuration.md](https://docs.pingcap.com/tidb/dev/command-line-flags-for-tidb-configuration) is missing some of the command line options available for tidb-server:

[code]

[2020-09-04 16:27] nullnotnil commented on #3155
It looks like documenting `tidb_dml_batch_size` is important because of a behavior change in master. Previously I used `LOAD DATA` to [import the example database](https://docs.pingcap.com/tidb/stable/import-example-data) in the docs. Because of https://github.com/pingcap/tidb/pull/18807 the example now breaks by default due to a transaction too large error.

I can increase the transaction size, o

[2020-09-08 22:12] andrefpoliveira commented on #3357
Is this still a thing? I can't find ````sql\_mode``

[2020-09-09 03:29] yikeke commented on #3357
Must've been resolved by PRs I did not notice. Thanks for reporting it. I'll close this issue.

[2020-09-09 03:29] #3357 closed

[2020-09-16 05:44] ran-huang commented on #2913
The "Edit this page" button is available now. I'm closing this issue.

[2020-09-16 05:44] #2913 closed

[2020-09-16 05:47] ran-huang commented on #1433
Closing this issue because it's outdated. We have refactored the documentation.

If you still have questions about the doc structure, feel free to reopen the issue or create a new one.

[2020-09-16 05:47] #1433 closed

[2020-09-16 05:50] ran-huang commented on #1427
@lilin90 Can we close this issue now? It looks outdated to me.

btw, I find this doc [TiDB Docuker Compose Deployment](https://docs.pingcap.com/tidb/dev/deploy-test-cluster-using-docker-compose) but it's not in the TOC.

[2020-09-25 03:44] lilin90 commented on #2638
@wwar It has been changed to a flat structure now, with **Quick Start** and **Deploy**. https://docs.pingcap.com/tidb/stable So I'll close this issue. Thanks!
![image](https://user-images.githubusercontent.com/30922556/94224232-6bc1f400-ff24-11ea-89b2-31c37a9c188f.png)

[2020-09-25 03:45] #2638 closed

[2020-09-30 01:16] nullnotnil commented on #2643
Even though the version-specific roadmaps are removed from the TOC, they are still in search engine results. I think this is easy to fix by just cherry-picking `/roadmap.md` into all of the version-specific branches.

[2020-09-30 03:06] yikeke commented on #2643
Do we even need a roadmap in all version-specific branches? If a roadmap is for future versions (we are talking about v5.0 right?), how about we just keep the roadmap in the `dev` version and removing all current roadmaps in other version-specific branches? @scsldb @nullnotnil

[2020-09-30 03:43] nullnotnil commented on #2643
That works for me - since it only applies to `dev` anyway. I assume it is possible to add aliases in the roadmap.md from dev to handle redirects from all other versions.

[2020-09-30 04:04] yikeke commented on #2643
Right, aliases are necessary to fix the 404s.

Does it work for you or the PMG too? @scsldb If you agree, I will send the PR then.

[2020-09-30 16:07] nullnotnil opened #3998 "last_plan_from_binding documented but not merged"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

See: https://docs.pingcap.com/tidb/stable/system-variables#last_

[2020-10-02 09:51] shenli opened #3999 "Add time unit for slow query log document"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.
https://docs.pingcap.com/tidb/stable/identify-slow

[2020-10-09 01:31] TomShawn commented on #3999
@crazycs520 PTAL, thanks!

[2020-10-09 02:00] crazycs520 commented on #3999
@shenli

the doc is from https://docs.pingcap.com/tidb/stable/identify-slow-queries#fields-description.

Adding unit for serveral fields of execution time will break compatibility with MySQL slow-log format, also infect the usage of `pt-query-digest`

[2020-10-09 08:53] cyliu0 opened #4014 "text/blob types' maximum lengths are wrong"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://docs.pingcap.com/tidb/stable/data-type-string#longblob-ty

[2020-10-13 06:31] #2643 closed

[2020-10-13 06:37] yikeke commented on #2643
The roadmap will only be kept in the [master branch](https://docs.pingcap.com/zh/tidb/dev/roadmap) from today on.

[2020-10-19 06:13] Win-Man opened #4076 "The table format display abnormal in sql-statement-admin"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://docs.pingcap.com/tidb/stable/sql-statement-admin#ddl-rela

[2020-11-04 02:31] TomShawn commented on #2428
To better manage issues in this repository, I'll close this stale issue for now. You are welcome to reopen it if you still have other questions.

[2020-11-04 02:31] #2428 closed

[2020-11-09 03:11] TomShawn commented on #3720
The docs-cn PR is https://github.com/pingcap/docs-cn/pull/4843

[2020-11-12 11:35] #4076 closed

[2020-11-12 11:41] TomShawn commented on #4014
@wjhuang2016 Please help take a look,thanks!

[2020-11-12 11:45] TomShawn commented on #3999
@shenli What do you think of the comment above?

[2020-11-30 02:36] TomShawn commented on #3998
@nullnotnil Can this issue be closed now?

[2020-11-30 15:51] nullnotnil commented on #3998
Yes

[2020-11-30 15:53] nullnotnil commented on #3998
Actually, I double checked the PR. It is in master branch only. I think because of the high rate of conflicts, it won't immediately be cherry picked. We should remove the docs about this for the `stable` docs.

[2020-11-30 21:18] tashian opened #4299 "Consider shorter X.509 certificate lifetimes"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

The [certificate-based authentication docs](https://docs.pingcap.com/tidb/stable/certificate-authentication#configure-the-user-certificate-information-for-login-verification) suggest minting 1,000-year TLS certificates for authentication. 1,000 years is a very long validity period. Have you considered 9

[2020-12-01 00:38] #1427 closed

[2020-12-02 05:48] #3998 closed

[2020-12-03 06:57] ofey404 opened #4326 "tikv `log.level` has changed to `log-level` in v4.0.8"
File: [/dynamic-config.md](https://docs.pingcap.com/tidb/dev/dynamic-config)

Some example like `set config tikv log.level="info"` has depreciated.

Running them would cause error like this:

[code]

I use `tiup playground` to start my environment, tidb version v4.0.8.

[code]

[2020-12-03 08:20] TomShawn commented on #4326
@rleungx PTAL, thanks~

[2020-12-03 08:38] rleungx commented on #4326
Yes, you're right.

[2020-12-04 03:38] TomShawn commented on #4326
@rleungx Please help update this document, thanks!

[2020-12-09 03:53] TomShawn commented on #4326
Document updated in https://github.com/pingcap/docs/pull/4353 and https://github.com/pingcap/docs-cn/pull/5058.

[2020-12-09 03:54] #4326 closed

[2020-12-10 10:34] kennytm opened #4389 "Use EBNF instead of images to render sqlgrams"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

Recently we support rendering EBNF code directly as SVG (sample: https://docs.pingcap.com/tidb/stable/sql-statement-backup), and thus no longer needs to use PNG images for the sqlgrams (see #4342 for details). We should upgrade

[2020-12-10 19:40] kolbe opened #4390 "Add documentation for data type storage requirements"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

MySQL documentation has a lot of detail about "da

[2020-12-11 06:53] TomShawn commented on #4390
@XuHuaiyu PTAL, thanks~

[2020-12-12 12:35] wenfengwang opened #4394 "Confusing in `tidb_ddl_reorg_priority`"
When I type `SET GLOBAL tidb_ddl_reorg_priority=PRIORITY_HIGH;` in MySQL console, and got:
![image](https://user-images.githubusercontent.com/9766821/101983943-18f11080-3cb9-11eb-962b-ebe939d1a09f.png)

but in docs: https://docs.pingcap.com/zh/tidb/stable/system-variables#tidb_ddl_reorg_priority, the global is ok:
![image](https://user-images.githubusercontent.com/9766821/101983968-5190ea00-3cb9-1

[2020-12-14 03:07] TomShawn commented on #4394
@AilinKid Please help take a look, thanks!

[2020-12-14 06:18] binaryjerry opened #4397 "Incomplete search results on official website"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

Incomplete search results on official website

2.

[2020-12-15 03:05] CharLotteiu commented on #4397
Thanks for your feedback! Could you please provide more information about which word did you search and what's your expected search result? That can help us locate the problem more quickly. 😄

[2020-12-22 17:27] morgo opened #4475 "sql views manual page does not render"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/views

2. How would you like t

[2020-12-22 22:40] kolbe opened #4477 "Improve documentation of tidb-server oom behavior"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

The current explanations of TiDB memory managemen

[2020-12-24 06:19] ran-huang commented on #4475
@YiniXu9506 PTAL, thanks!

[2020-12-24 06:33] ran-huang commented on #4477
@SunRunAway PTAL. Could you update https://docs.pingcap.com/tidb/dev/tidb-configuration-file#oom-use-tmp-storage?

[2020-12-25 06:13] ran-huang commented on #4475
Thank you for the feedback! The page is fixed now.

[2020-12-25 06:13] #4475 closed

[2020-12-26 11:58] Glight29 opened #4496 "update the method count in the warning"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/tidb/stable/quick-start-with-tidb)

The warning on this page mentions that "For production environments, do not deploy TiDB with the following three methods.", but this page only provides two methods, not three.  Suggest removing the word ''three" from the warning.

[2020-12-28 04:16] ran-huang commented on #4496
Thanks for the feedback! Good catch.
We used to provide three methods on that page but recently removed one, and I forgot to update that warning 😸

[2020-12-28 04:21] #4496 closed

[2020-12-29 07:19] andylokandy opened #4510 "Incorrect server.snap-max-write-bytes-per-sec default value"
## Error Report

### What is the URL/path of the document related to this issue?

In docs/tikv-configuration-file.md:  default value of `server.snap-max-write-bytes-per-sec` should be `100MB`.

This affects 3.0, 3.1, 4.0, 5.0.

3.0 and 3.1 should be fine since they are fixed in these PRs:

- https://github.com/pingcap/docs/pull/4387
- https://github.com/pingcap/docs/pull/4386

[2020-12-29 10:31] cyliu0 opened #4515 "Users could create tiflash replicas before importing data w/ lightning"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.
Users could create tiflash replicas before importi

[2020-12-30 04:11] morgo opened #4529 "Ansible recommendation is really confusing"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/production-deployment-using-ti

[2020-12-30 04:14] morgo opened #4530 "TiDB Dashboard is incorrectly listed as experimental"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/post-installation-check

2. Ho

[2020-12-30 04:22] morgo opened #4531 "default values for booleans are incorrect"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/system-variables

2. How would

[2020-12-30 04:25] morgo opened #4532 "new system variables are not documented in alphabetical order"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/system-variables#tidb_opt_pref

[2020-12-30 17:22] morgo opened #4549 "remove excessive clarifications as they apply to earlier GA releases"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://docs.pingcap.com/tidb/dev/backup-and

[2020-12-30 17:41] morgo opened #4550 "lightning should not be recommended over BR for backup"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/backup-and-restore-using-dumpl

[2020-12-30 17:45] morgo opened #4551 "statements summary document is malformed"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

See: https://docs.pingcap.com/tidb/dev/statement-summary-tables

[2020-12-30 23:11] morgo opened #4553 "max column count docs out of date"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/tidb-limitations#limitations-o

[2020-12-31 02:11] cyliu0 opened #4555 "lightning supports s3 parameters"
## Change Request

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.
We need to link the document which describe the su

[2020-12-31 02:42] morgo opened #4556 "mysql compatibility still includes list partitioning"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/mysql-compatibility

Search in

[2020-12-31 03:15] #4551 closed

[2021-01-04 06:39] #4515 closed

[2021-01-05 05:31] TomShawn commented on #4556
@crazycs520 PTAL, thanks

[2021-01-05 05:31] TomShawn commented on #4555
@kennytm @overvenus PTAL, thanks

[2021-01-05 05:38] kennytm commented on #4555
@cyliu0 https://docs.pingcap.com/tidb/stable/backup-and-restore-storages#s3-parameters ?

[2021-01-05 05:57] TomShawn commented on #4550
@kennytm @overvenus PTAL, thanks~

[2021-01-05 06:01] TomShawn commented on #4549
@3pointer @overvenus PTAL, thanks

[2021-01-05 06:06] TomShawn commented on #4531
Would you help create a PR to modify those incorrect boolean values? I am not sure whether all of the 1/0 values should be documented as ON/OFF.

[2021-01-05 06:19] TomShawn commented on #4529
This is because we have removed all Ansible docs from dev and 5.0 branches. The deleted Ansible doc link will be redirected to this TiUP doc. Suppose that some users kept the Ansible doc link and now **expect to see the Ansible doc NOT TiUP doc**. The link to v4.0 at least **gives them a choice to see what they want** and also provides recommendation for TiUP.

[2021-01-05 06:30] kennytm commented on #4550
LGTM

[2021-01-05 06:42] morgo commented on #4529
It's confusing because:
- It doesn't explain the context of why there is a warning about Ansible. Some users might not even know what Ansible is, but the wording makes it sound like they may need to understand. It would be more helpful to explain "TiUP is the recommended upgrade path for users of TiDB Ansible".
- It's not obvious when you follow the link you are switching to the v4.0 docs. I think

[2021-01-05 06:46] morgo commented on #4531
If you run `SHOW GLOBAL VARIABLES` the output will be ON/OFF:
[code]

The order should match the output from this command, which is this issue: https://github.com/pingcap/docs/issues/4532

[2021-01-05 07:09] cyliu0 commented on #4555
Yeah, we all know. But the document is for customers. I think we should have a link to this one with some simple information in the usage document for each tool (lightning, dumpling and etc.) at least.

[2021-01-05 07:16] kennytm commented on #4555
So the real issue is "we didn't link to this file from Lightning" rather than "We don't have the document to describe these".

[2021-01-05 11:28] TomShawn commented on #4529
@scsldb @kissmydb What do you think?

[2021-01-06 02:59] #4553 closed

[2021-01-06 03:04] #4530 closed

[2021-01-06 11:55] andylokandy commented on #4510
@TomShawn @ran-huang This issue should not be closed.

[2021-01-06 13:17] TomShawn commented on #4555
@kennytm Would you help update the doc and add the link? Thanks

[2021-01-07 06:29] morgo commented on #4014
This also relates to https://github.com/pingcap/docs/issues/4390 (There is no actual storage size details on this page)

[2021-01-11 01:59] morgo commented on #3155
/unlabel lifecycle/stale

[2021-01-11 17:26] morgo commented on #3155
The options for character set and collation need documentation:
[code]

[2021-01-12 19:34] morgo opened #4606 "mydumper note is misleading and inaccurate"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/dev/ecosystem-tool-user-guide

2.

[2021-01-12 19:54] kolbe commented on #4529
I agree that linking to a deprecated version of the documentation is confusing.

If the problem here is related to a confusing/abrupt redirection, remove the redirection or have it point to something that is less confusing. Including totally irrelevant notes/warnings on documentation pages that refer to something different the item being described is a bad practice.

[2021-01-14 03:23] CharLotteiu commented on #4606
@overvenus PTAL. Thanks!

[2021-01-15 07:54] #4606 closed

[2021-01-19 01:19] #2633 closed

[2021-01-19 10:58] kennytm commented on #4389
🤔 I just realized when `(x y z)*` rendered the nodes will be traveled in opposite order.

![2-fs8](https://user-images.githubusercontent.com/103023/105017827-36b35180-5a7f-11eb-8f83-a57ce023d214.png)

But the old image, which flips the nodes, does not look good at all.

![1-fs8](https://user-images.githubusercontent.com/103023/105017829-37e47e80-5a7f-11eb-8f4f-7f9f88609c28.png)

We could fix this

[2021-01-21 03:12] kolbe opened #4676 "use-unified-pool default is "true""
File: [/tikv-configuration-file.md](https://docs.pingcap.com/tidb/v5.0/tikv-configuration-file)

https://docs.pingcap.com/tidb/v5.0/tikv-configuration-file#use-unified-pool

The default value for use-unified-pool in v5.0 is "true", but the docs say it's "false".

[2021-01-21 10:30] TomShawn commented on #4676
@sticnarf PTAL, thanks

[2021-01-22 12:06] sticnarf commented on #4676
Let's change the documentation to "true". It's inherited from 4.0 doc and we forgot to change it.

[2021-01-24 06:39] kolbe commented on #3720
We should not automatically close issues without addressing them.

[2021-01-24 12:26] lilin90 commented on #3720
Hi @kolbe, since @XuHuaiyu & @TomShawn had updated the description about `tidb_general_log` in both English and Chinese documentation (https://github.com/pingcap/docs-cn/pull/4843 and https://github.com/pingcap/docs/pull/4378), @TomShawn didn't freeze this issue to prevent it from being auto-closed.

Do you have further update suggestions? If yes, you can directly file a PR or tell @XuHuaiyu and r

[2021-01-25 09:50] TomShawn commented on #4676
@kolbe The doc is updated, PTAL again.

[2021-01-27 12:28] yuqi1129 opened #4735 "Dead url link about tikb hibernate region"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
   https://docs.pingcap.com/zh/tidb/stable/massive-regions-best-practices#%E6%96%B9%E6%B3%95%E5%9B%9B%E5%BC%80%E5%90%AF-hibernate-region-%E5%8A%9F%E8%83%BD

  then click "TiKV Hi

[2021-01-27 13:52] ran-huang commented on #4735
Oh, thank you for your feedback! The page you're looking for is [here](https://docs.pingcap.com/zh/tidb/stable/tikv-configuration-file#raftstorehibernate-regions-%E5%AE%9E%E9%AA%8C%E7%89%B9%E6%80%A7).
Sorry for the inconvenience! We'll update the link soon.

@Joyinqin Could you please update both Chinese and English docs? Thanks.

[2021-01-27 13:56] ran-huang commented on #4735
I just saw your pull request. Thank you for the fix 😸😸😸

[2021-01-27 14:02] #4735 closed

[2021-01-27 19:42] kolbe commented on #3720
Fixed by https://github.com/pingcap/docs/pull/4378

[2021-01-27 19:42] #3720 closed

[2021-01-30 17:22] ghz-max opened #4760 "IP typo for minimal deployment topology : Monitoring & Grafana"
File: [/minimal-deployment-topology.md](https://docs.pingcap.com/tidb/dev/minimal-deployment-topology)

The node : Monitoring & Grafana has the IP 10.0.1.11 in the webpage whereas in the .yaml (both complex and simple), the IP is 10.0.1.10.

[2021-02-01 06:19] TomShawn commented on #4760
@superlzs0476 Please help confirm which one is correct, thanks!

[2021-02-01 09:19] ran-huang opened #4770 "Use sentence case in graphics"
File: [/tidb-architecture.md](https://docs.pingcap.com/tidb/dev/tidb-architecture)

The graphic labels should be in sentence case:

`Data Location` -> `Data location`
`TiDB Cluster` -> `TiDB cluster`
![image](https://user-images.githubusercontent.com/59654584/106438300-4c7a3b00-64b1-11eb-8dde-d95e70551028.png)

[2021-02-01 09:19] ran-huang commented on #4770
@TomShawn PTAL

[2021-02-01 09:35] TomShawn commented on #4770
Thanks for feedback. I'll fix it soon.

[2021-02-04 05:58] #4770 closed

[2021-02-04 09:08] seiya-annie opened #4791 "GRANT OPTION as GRANT should not be described as a regular priv."
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/zh/tidb/dev/privilege-management

2. Ho

[2021-02-04 10:53] cosven opened #4798 "br backup example is invalid"
## Error Report

**This repository is ONLY used to solve issues related to DOCS.
For other issues (related to TiDB, PD, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/zh/tidb/dev/use-br-command-line-tool#br

[2021-02-04 12:01] TomShawn commented on #4798
@overvenus @3pointer PTAL, thanks!

[2021-02-04 12:02] TomShawn commented on #4791
@seiya-annie Do you mean to delete the `Grant` row?

[2021-02-04 16:54] morgo commented on #4791
The column which says `Grant` should read `Grant Option`. But usually the syntax for `GRANT` option is specified as `WITH GRANT OPTION` at the end of a `GRANT` statement, so it's better to just delete the row.

These are also out of date:
![image](https://user-images.githubusercontent.com/57982/106926466-5cbb3180-66ce-11eb-8005-56b85c473c28.png)

File was added in https://github.com/pingcap/tidb/p

[2021-02-16 12:31] BanYeung opened #4812 "correct miswriting"
File: [/optimistic-transaction.md](https://docs.pingcap.com/tidb/stable/optimistic-transaction)

Principles of optimistic transactions
5
 iv. TiDB **receives** all requests in the prewrite phase and the prewrite is successful.

SHOULD BE:
TiDB **sends** all requests in the prewrite phase and the prewrite is successful.

[2021-02-18 01:39] TomShawn commented on #4397
@binaryjerry Any update?

[2021-02-18 03:20] TomShawn commented on #4299
@tashian Thanks very much for such detailed feedback!
@bb7133 Shall we consider updating this document?

[2021-02-18 04:03] TomShawn commented on #4812
@BanYeung Thanks for feedback!
@cfzjywxk PTAL, thanks!

[2021-02-18 04:28] TomShawn commented on #4556
@morgo List partitioning will be release in TiDB 5.0 GA. Shall we keep this until 5.0 GA?
![image](https://user-images.githubusercontent.com/41534398/108305357-c108e580-71e4-11eb-8b00-3a0f06d99b12.png)

[2021-02-18 06:05] cfzjywxk commented on #4812
@BanYeung Thanks for feedback.
Here should be:
`TiDB receives all ok responses in the prewrite phase and the prewrite is successful`

[2021-02-18 06:19] #4791 closed

[2021-02-18 06:42] #4550 closed

[2021-02-18 07:17] TomShawn commented on #4531
Addressed in #4587.

[2021-02-18 07:18] #4531 closed

[2021-02-18 07:19] TomShawn commented on #4532
Addressed in #4589.

[2021-02-18 07:19] #4532 closed

[2021-02-18 07:22] TomShawn commented on #4529
@King-Dylan PTAL

[2021-02-18 07:24] TomShawn commented on #4510
This issue is fixed in https://github.com/pingcap/docs/pull/4597/files#diff-5e0b63d087f45ab3370aeb3f520d8d1f637a6f031fb6b9f294b4addc227e24c5R101.

[2021-02-18 07:24] #4510 closed

[2021-02-18 07:40] TomShawn commented on #4014
Looks like this document (https://docs.pingcap.com/tidb/dev/data-type-string) needs technical correction and more information for users.

[2021-02-18 07:41] TomShawn commented on #3407
@lonng Any update?

[2021-02-18 07:42] TomShawn commented on #4390
Looks like this document (https://docs.pingcap.com/tidb/dev/data-type-string) needs technical correction and more information for users.

[2021-02-18 07:44] TomShawn commented on #3260
@coocood @SunRunAway PTAL

[2021-02-18 07:46] TomShawn commented on #3155
@wjhuang2016 PTAL

[2021-02-18 07:55] coocood commented on #3260
Yes, we can safely set tidb_row_format_version to a lower value in a newer versioned TiDB cluster.

[2021-02-18 08:35] AilinKid commented on #4394
Seems it's a mistake with the doc cause the code is `ScopeSession` indeed and it is unchanged for 2 years.

[2021-02-18 08:40] TomShawn commented on #4394
Shall we update the doc? (remove `GLOBAL`)

[2021-02-18 09:03] #4394 closed

[2021-02-18 09:13] lonng commented on #3407
/assign @lucklove

[2021-02-18 09:14] lonng commented on #3407
/unassign lonng

[2021-02-18 09:21] TomShawn commented on #3407
@lucklove PTAL

[2021-02-22 04:10] lucklove commented on #3407
@King-Dylan We can add the `tiup cluster check` into the deployment document after https://github.com/pingcap/docs-cn/pull/4868

[2021-02-22 19:28] tashian commented on #4299
You're welcome @TomShawn and I'm happy to discuss further

[2021-03-02 01:21] alex-quan-001 commented on #4529
I suggest a direct pull request, rather than an issue, TiUP's or doc's  owner in charge needs to review and follow up on the subsequent changes.

[2021-03-02 01:41] morgo commented on #4529
I will chat to you about it on Slack. While I can, not everyone can sign the contributor agreement. I really hope that's not the answer we give out to people who report issues.

[2021-03-02 02:37] lilin90 commented on #4529
I talked with @morgo. Currently, let's guide users to the recommended deployment method. And for those who want to use the v4.0 TiDB Ansible deployment doc, they can find it via the version switcher. @TomShawn Would you please help file a PR to update https://docs.pingcap.com/tidb/dev/production-deployment-using-tiup? Thanks!

[2021-03-02 02:39] morgo opened #4943 "revise supported platforms"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

On https://docs.pingcap.com/tidb/dev/hardware-and-software-requirements it says that Ubuntu 16.04 or later is required.

2. Describe your suggestion or addition.

For the "dev" and "5.0" branches of TiDB, they will be released

[2021-03-02 02:40] morgo commented on #4943
/assign @alex-quan-001

[2021-03-02 02:43] TomShawn commented on #4529
Sure, I will.

[2021-03-02 02:53] lilin90 commented on #4549
@qiancai Please also take a look.

[2021-03-02 03:32] alex-quan-001 commented on #4943
We should follow the lifecycle of the operating system to update our test environment, the latest version is no longer supported within 6 months or within 2 months the official version is no longer supported (depending on the lifecycle of the operating system, some up to 10 years, some may be shorter).

cc @shuke987  I am suggesting that the version of Ubuntu can be bumped to 18.04 for these futur

[2021-03-02 07:31] TomShawn commented on #4529
@morgo @lilin90 PTAL
https://github.com/pingcap/docs/pull/4946
https://github.com/pingcap/docs/pull/4947

[2021-03-02 09:42] XiaoGe2030 opened #4950 "Missing parameter "readpool.unifiy-read-pool" definition"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
  https://docs.pingcap.com/tidb/stable/benchmark-sysbench-v4-vs-v3

2. How would you like to improve it?
  In TiDB Sysbench Performance Test Report -- v4.0 vs. v3.0 ,use " readpool.unifiy-read pool" parameter .  But  " readpool.unifiy-read poo

[2021-03-02 09:54] alex-quan-001 opened #4951 "varchar value should use quotation marks"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/stable/garbage-collection-configuration
tikv_gc_enable
    Enables or disables GC
    **Default: true**

2. How would you like to improve it?
tikv_gc_enable
    Enables or disables GC
    **Default:" true"**

all

[2021-03-03 03:50] TomShawn commented on #4950
@sticnarf Would you please help add `readpool.unifiy-read pool` in the [TiKV Configuration File | PingCAP Docs](https://docs.pingcap.com/tidb/dev/tikv-configuration-file)? Thanks!

[2021-03-03 04:09] TomShawn commented on #4951
@alex-quan-001 Do we also need to quote "true" in commands like `set config tikv gc.enable-compaction-filter = "true";`

[2021-03-03 05:01] sticnarf commented on #4950
This parameter does not exist indeed. If the test was really done with this configuration, the `readpool.unifiy-read-pool` setting should be removed.

[2021-03-03 06:50] TomShawn commented on #4477
@XuHuaiyu Would you help take a look?

[2021-03-03 08:12] alex-quan-001 commented on #4951
I don`t know this usage.
Not even sure if it's used that way. I don't know how it works even when I try it and it doesn't report an error when I set it up incorrectly.
But at least what I see should fit the design, and preferably there should be no implicit conversion of the parameters of the setup class and a strong checksum.
![image](https://user-images.githubusercontent.com/77444503/109774006-d

[2021-03-03 09:02] TomShawn commented on #4951
@MyonKeminta Could you please take a look? Thanks!

[2021-03-03 09:54] #4950 closed

[2021-03-03 10:54] TomShawn commented on #4529
@morgo Docs updated, shall we close this issue?

[2021-03-03 15:04] #4529 closed

[2021-03-05 10:39] qiancai commented on #4549
Similar to my comment in [4552](https://github.com/pingcap/docs/pull/4552), here are my thoughts. @morgo, PTAL. Thanks.

**Background information:**
Currently, all the latest TiDB documentation is branched from the master, so the documentation in the master contains all the historical version-specific information, which can help the document author to track all the changes, but it is not user-frie

[2021-03-05 16:40] morgo commented on #4951
This is fixed in https://github.com/pingcap/docs/pull/4552 where the recommended GC configuration moves to sysvars.

The `mysql.tidb` interface should be deprecated because it does not permit any validation on the values that are being set. See: https://github.com/pingcap/tidb/issues/20655

With sysvars, there is both validation and type normalization (oN, 1, on, ON --> ON).

[2021-03-08 13:23] #4812 closed

[2021-03-11 06:20] #4798 closed

[2021-03-16 06:21] yikeke commented on #4549
Thanks. @morgo Your suggestion has been accepted (see https://github.com/pingcap/docs/pull/4552#issuecomment-799151524). @qiancai will open a pull request to close this issue, and she'll involve you as a reviewer if you want.

[2021-03-16 06:21] yikeke commented on #4549
/assign @qiancai

[2021-03-19 05:23] kolbe opened #5069 "deploy-tiflash docs in tidb-in-kubernetes don't discuss nodeSelector/tolerations"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

https://docs.pingcap.com/tidb-in-kubernetes/stable/deploy-tiflash gives this suggestion for the section to add to the TidbCluster resource to add TiFlash to the cluster:

[code]

If I've followed the steps at https://docs.pingc

[2021-03-19 05:57] TomShawn commented on #5069
/assign @zanmato1984 @DanielZhangQD

[2021-03-19 05:57] TomShawn commented on #5069
@zanmato1984 @DanielZhangQD PTAL, thanks!

[2021-03-23 06:42] DanielZhangQD commented on #5069
@kolbe @TomShawn Trace this issue in https://github.com/pingcap/docs-tidb-operator/issues/1139.

[2021-03-26 16:47] morgo opened #5137 "Document Replication under MySQL Compatibility"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://docs.pingcap.com/tidb/stable/mysql-compatibility

There is no mention of MySQL replication.

2. Describe your suggestion or addition.

There should be some pointers to DM and Binlog to explain that TiDB does not im

[2021-03-29 02:44] TomShawn commented on #5137
/assign @zz-jason @lance6716 @july2993

[2021-03-29 02:45] TomShawn commented on #5137
@zz-jason @lance6716 @july2993 PTAL, thanks!

[2021-03-29 23:45] kolbe opened #5159 "Document "unistore""
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

https://github.com/pingcap/tidb/pull/17156 added "unistore" as the default standalone storage engine instead of mocktikv, but somehow it's not mentioned at all in our documentation!

2. Describe your suggestion or addition.

We

[2021-03-30 02:06] TomShawn commented on #5159
/assign @coocood @lysu

[2021-03-30 02:06] TomShawn commented on #5159
@coocood @lysu PTAL whether this can be documented, thanks!

[2021-03-30 05:17] TomShawn commented on #5159
docs-cn PR: https://github.com/pingcap/docs-cn/pull/5874

[2021-03-30 05:54] TomShawn commented on #5159
docs PR: https://github.com/pingcap/docs/pull/5160
@kolbe PTAL whether your issue has been addressed or not.

[2021-03-30 16:33] kolbe commented on #5159
@TomShawn not quite. It seems that "mocktikv" is still an option, alongside "unistore" and "tikv":

[code]

The documentation should reflect that all 3 options are available.

[2021-03-31 02:22] TomShawn commented on #5159
@lysu @coocood @tangenta PTAL again, thanks!

[2021-03-31 02:27] coocood commented on #5159
@kolbe
‘mocktikv' is not maintained anymore, it doesn't support clustered index.
I think we don't need to mention it in the doc.

[2021-03-31 02:29] kolbe commented on #5159
It's mentioned in the help output of `tidb-server --help`! We shouldn't hide things in the documentation just because they're no longer maintained or useful, if they're still included in the product. In fact, just the opposite is true — if something is obviously a valid option, but we don't think anyone should use it, we must explain in the documentation what it is and why it should be avoided!

[2021-04-06 11:17] dveeden commented on #4943
In addition I would mention "CentOS 8 Stream". This is because CenOS 8 Linux support ends *this* year and users should probably pick CentOS 8 Stream instead. Note that RHEL/OEL support should remain the same. See also https://centos.org/distro-faq/

[2021-04-06 11:32] dveeden commented on #4556
Are you sure this is in TiDB 5.0 GA?

[code]

[2021-04-06 11:42] dveeden commented on #4299
I think there are three separate things in this issue:

1.  A feature request for ACME support in TiDB
2.  A request to document the certificate rollover procedure
3.  Use a 90 days or less validity to better align with best practices

I think the two different scenarios here are:

- Manual certificate renewal: Here a 1 year or so validity period probably makes sense.
- Automated certificate renew

[2021-04-06 12:15] dveeden opened #5226 "Binary tarball documents"
## Error Report

1. What is the URL/path of the document related to this issue?

- https://docs.pingcap.com/tidb/v5.0/test-deployment-from-binary-tarball
- https://docs.pingcap.com/tidb/v5.0/deploy-tidb-from-binary
- https://docs.pingcap.com/tidb/v5.0/get-started-with-tidb-binlog

2. How would you like to improve it?

There are two documents about deploying TiDB from a binary tarball. However I be

[2021-04-06 13:06] morgo commented on #4556
@dveeden It requires a sysvar to be set: https://docs.pingcap.com/tidb/dev/system-variables#tidb_enable_list_partition-new-in-v50

There are more experimental features now that anyone can keep track of. I really hope this is simplified in https://github.com/pingcap/tidb/issues/22502

[2021-04-06 13:48] morgo commented on #5226
I agree with removing if it is not supported.

/cc @qiancai @yikeke

[2021-04-06 14:00] qiancai commented on #5226
Agree with @morgo.

To avoid similar issues in the future, perhaps we could consider adding one more check item in the CI check: if a file is removed from the TOC, all the references to this file in the repo should be reported and prompted to be removed or updated as well.

[2021-04-06 14:14] morgo commented on #5226
This might be hard to differentiate from the other case: which is as documents are added they may initially not be in the TOC. This is a useful feature for splitting up large additions into smaller PRs for reviewing.

[2021-04-07 02:18] TomShawn commented on #5226
/assign @King-Dylan

[2021-04-07 02:29] TomShawn commented on #5226
Some docs are intentionally not added to TOC but retained in the repo. Users can access these docs only via exact addresses and cannot find the entry in the left navigation menu. This can be helpful when these docs are no longer recommended but might still be needed by some users. If we need to make a doc offline, removing it from TOC can be a good first step.

[2021-04-07 06:11] yikeke commented on #5226
Agree to remove the two binary deployment docs from the repo.

We removed the two docs from TOC since v4.0, now with v5.0 GA, it's good to move to the next step - remove the source files from the repository and redirect them to the TiUP deployment doc. @TomShawn

Also, https://docs.pingcap.com/tidb/v5.0/get-started-with-tidb-binlog needs updates accordingly.

[2021-04-08 20:42] kolbe opened #5269 "TiKV_GC_can_not_work refers to wrong rule"
File: [/alert-rules.md](https://docs.pingcap.com/tidb/stable/alert-rules)

TiKV_GC_can_not_work references this rule:
[code]

This seems to be the correct rule:
[code]

https://github.com/pingcap/monitoring/blob/master/monitor-snapshot/master/operator/rules/tikv.rules.yml#L18

[2021-04-08 22:42] kolbe commented on #5269
Oops, no, it's actually at https://github.com/tikv/tikv/blob/master/metrics/alertmanager/tikv.rules.yml#L17 ...

[code]

[2021-04-08 22:49] kolbe commented on #5269
https://github.com/tikv/tikv/pull/9914 and/or https://github.com/tikv/tikv/issues/9910 should've requested a documentation update.

[2021-04-09 02:47] TomShawn commented on #5269
/assign @hicqu @MyonKeminta
@hicqu @MyonKeminta PTAL, thanks

[2021-04-09 06:49] dveeden commented on #4389
Besides updating the things that predate this it might also be nice to add information into the `README.md` and/or `CONTRIBUTING.md` about how to work with the EBNF rendering and how to test it before submitting a PR.

[2021-04-12 12:17] TomShawn commented on #5269
/reopen

[2021-04-13 08:19] tzkoba opened #5307 "Correct miswriting:release5.0.0/tidb_enable_clustered_index"
File: [/releases/release-5.0.0.md](https://docs.pingcap.com/tidb/stable/release-5.0.0)

- Change the default value of tidb_enable_clustered_index from OFF to INT_ONLY with the following new meanings:

SHOULD BE:
- Change the default value of tidb_enable_clustered_index from OFF to INT_ONLY with the following new meanings:

It's the opposite.

[2021-04-13 08:24] ran-huang commented on #5307
Thank you for the feedback! Sharp eyes.
Do you mind opening a PR to fix this? 😸

[2021-04-13 08:31] tzkoba commented on #5307
OK. I'll try.

[2021-04-13 12:37] tzkoba commented on #5307
Already proposed in #5306

[2021-04-13 12:37] #5307 closed

[2021-04-13 15:40] kolbe opened #5317 "Orphaned tiup documentation pages"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/v4.0/tiup-command-mirror-publish

2. How would you like to improve it?

All documentation pages should have a parent in the left-hand sidebar.

We should have a process to identify any pages that are orphaned.

[2021-04-14 02:44] TomShawn commented on #5269
@kolbe The docs PR is https://github.com/pingcap/docs/pull/5320. PTAL and see if your issue is addressed.

[2021-04-15 06:51] yikeke commented on #5269
#5320 has been approved and merged.

[2021-04-15 06:51] #5269 closed

[2021-04-21 03:51] dbsid opened #5413 "no server.request-batch-enable-cross-command in V5.0.0"
File: [/benchmark/benchmark-sysbench-v5-vs-v4.md](https://docs.pingcap.com/tidb/stable/benchmark-sysbench-v5-vs-v4)

please remove below line from TiKV v5.0 configuration
[code]
The parameter prevent the TiKV startup.
unknown configuration options: server.request-batch-enable-cross-command

[2021-04-21 05:34] TomShawn commented on #5413
/assign @sticnarf @shuke987

[2021-04-21 05:34] TomShawn commented on #5413
updated in https://github.com/pingcap/docs/pull/5414

[2021-04-21 19:21] kolbe opened #5424 ""split, redefine partitions by using ALTER TABLE statements" is incorrect"
https://docs.pingcap.com/tidb/stable/partitioned-table#range-partition-management makes this statement:

We do not currently support "split" or "redefine" partition operations, as far as I know and can tell by my testing.

File: [/partitioned-table.md](https://docs.pingcap.com/tidb/stable/partitioned-table)

[2021-04-22 01:57] zz-jason commented on #5424
@qw4990 we need to verify and correct the document related to [partition table](https://docs.pingcap.com/tidb/stable/partitioned-table)

[2021-04-23 00:14] mjonss commented on #5424
/cc @mjonss

[2021-04-23 10:08] TomShawn commented on #5424
/assign @mjonss

[2021-04-23 10:11] TomShawn commented on #5413
Related PRs:

+ https://github.com/pingcap/docs-cn/pull/6108
+ https://github.com/pingcap/docs-cn/pull/6107
+ https://github.com/pingcap/docs/pull/5419
+ https://github.com/pingcap/docs/pull/5414

[2021-04-23 10:11] TomShawn commented on #5413
/close

[2021-04-23 10:11] #5413 closed

[2021-04-23 14:35] ttadeo opened #5457 "References to Version 3 should be changed"
File: [/best-practices/pd-scheduling-best-practices.md](https://docs.pingcap.com/tidb/stable/pd-scheduling-best-practices)

Hot regions scheduling
For hot regions scheduling, use hot-region-scheduler. Currently in TiDB 3.0, the process is performed as follows:

Count hot regions by determining read/write traffic that exceeds a certain threshold for a certain period based on the information reporte

[2021-04-25 01:59] TomShawn commented on #5457
/assign

[2021-04-26 02:38] ran-huang opened #5485 "Outdated description in quick start guide"
https://docs.pingcap.com/tidb/stable/quick-start-with-tidb#prepare

The `dev` and `5.0` docs both mention 4.0 GA. This is outdated:

[2021-04-26 03:35] TomShawn commented on #5485
/assign @lilyjazz

[2021-04-26 08:19] #5485 closed

[2021-05-04 15:50] kolbe opened #5561 "add documentation for tidb_decode_key"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

The tidb_decode_key function is very useful for mapping a raw key back to the table/index it belongs to. This function should be documented so that its behavior and limitations (https://github.com/pingcap/tidb/issues/23180 for

[2021-05-06 02:07] TomShawn commented on #5561
/assign @tangenta @wjhuang2016 @bb7133
Anyone can add doc content for `tidb_decode_key`?

[2021-05-06 02:58] wjhuang2016 commented on #5561
The problem is that, do we expect users to know this function?

[2021-05-06 06:15] ran-huang opened #5567 "Strange line in the architecture image"
File: [/tidb-architecture.md](https://docs.pingcap.com/tidb/v4.0/tidb-architecture)

![image](https://user-images.githubusercontent.com/59654584/117250153-5ecf9080-ae75-11eb-8ddb-6c788d6cb00c.png)

[2021-05-06 06:29] TomShawn commented on #5567
/assign

[2021-05-06 08:19] #5567 closed

[2021-05-06 09:50] tangenta commented on #5561
For now, we don't have a page to introduce the built-in functions in detail. Where should I put the documentation of `tidb_decode_key`?

@kolbe Do you know where the raw keys usually come from? We can put the explanation to the related tutorials.

[2021-05-11 12:03] BusyJay opened #5601 "Provide dark theme for docs"
There is only one light theme in https://docs.pingcap.com/, hope we can provide an optional dark theme to save energy and eyes.

Rustdoc provides a dark theme: https://docs.rs/grpcio/0.8.2/settings.html

gatsby have several dark theme plugins: https://www.gatsbyjs.com/plugins?=dark%20mode

[2021-05-12 02:08] TomShawn commented on #5601
/assign @YiniXu9506

[2021-05-12 02:08] TomShawn commented on #5601
@YiniXu9506 What do you think?

[2021-05-12 06:45] TomShawn commented on #5457
@disksing Any plan to update this document? Looks like it's a bit outdated.

[2021-05-12 07:16] TomShawn commented on #5159
@coocood What do you think?

[2021-05-12 07:18] TomShawn commented on #5137
This issue has been addressed.

[2021-05-12 07:18] #5137 closed

[2021-05-12 07:21] TomShawn commented on #4951
@alex-quan-001 Does this answer address your question?

[2021-05-12 07:23] coocood commented on #5159
I think we need to remove the `mocktikv` option in `tidb-server`

[2021-05-12 08:04] TomShawn commented on #5159
@kolbe Then we do not need to mention `mocktikv` in the docs. Is that OK?

[2021-05-12 08:49] #5317 closed

[2021-05-17 04:26] moyun opened #5626 "English grammar issues"
File: [/tidb-storage.md](https://docs.pingcap.com/tidb/stable/tidb-storage)
Examples:
- Many databases implement multi-version concurrency control (MVCC), and `TiKV is no exception`
- `Imagine the situation where two clients modify the value of a Key at the same time. `
- the data `needs to be locked`

[2021-05-17 06:14] TomShawn commented on #5626
/assign

[2021-05-17 12:52] tisonkun opened #5631 "doc out of sync"
## Error Report

1. What is the URL/path of the document related to this issue?

https://github.com/pingcap/docs/blob/ac042040fcc9b03114e6ccfbdf04fddb885c3942/tidb-lightning/tidb-lightning-backends.md#L212

This line is updated by https://github.com/pingcap/docs-cn/pull/6284/files in `docs-cn` repo, while en version out of sync. I don't see a related issue yet.

2. How would you like to improve it

[2021-05-17 12:59] tisonkun opened #5632 "improve - issue template mentions the mirror repo `pingcap/docs-cn` for a sync sibling"
## Change Request

update issue template to hint issue reporter create a sibling issue in the mirror repo https://github.com/pingcap/docs-cn so that we keep document sync.

see also https://github.com/pingcap/docs-cn/issues/6288

[2021-05-17 16:22] dveeden opened #5633 "WithCopy ending up in docs without proper rendering"
## Error Report

![image](https://user-images.githubusercontent.com/1272980/118522612-8c9dba80-b73c-11eb-9ef7-df9bbb1f38fe.png)

1. What is the URL/path of the document related to this issue?

- https://docs.pingcap.com/tidb/stable/certificate-authentication#get-user-certificate-information
- https://docs.pingcap.com/tidb/stable/enable-tls-between-components

2. How would you like to improve it?

[2021-05-17 16:36] dveeden opened #5634 "PDF generation uses obsoleted options"
## Error Report

[code]

[2021-05-18 02:46] TomShawn commented on #5633
/assign

[2021-05-18 02:46] TomShawn commented on #5634
@YiniXu9506 Could you please also take a look? Thanks!

[2021-05-18 06:05] dveeden commented on #5634
https://hub.docker.com/r/andelf/doc-build/tags?page=1&ordering=last_updated The doc-build image seems to be quite old.

https://github.com/andelf/dockerfiles/blob/master/doc-build/Dockerfile shows that this uses pandoc 1.19.2

[2021-05-18 06:32] dveeden commented on #5634
I created an updated version of that `Dockerfile`:
[code]

[2021-05-18 06:47] dveeden commented on #5634
In `generate_pdf.sh`:
- Change `--latex-engine` to `--pdf-engine`
- Change `--smart` to `-f markdown+smart`

[code]

Looks like `templates/template.tex` needs to be updated as well:
[code]
[code]

[2021-05-18 07:01] dveeden commented on #5634
There might be other things as well from https://raw.githubusercontent.com/jgm/pandoc-templates/master/default.latex that need to be merged into `templates/template.tex`

[2021-05-18 08:46] TomShawn commented on #5631
@tisonkun "sync" means translation. We do translate doc changes made in docs-cn to docs as timely as we can (we only have a few hands). [This](https://github.com/pingcap/docs-cn/pulls?q=is%3Apr+is%3Amerged+label%3Atranslation%2Fdoing+) is the list of PRs we are gonna translate. No docs-cn PR is gonna missing sync.

https://github.com/pingcap/docs-cn/pull/6284 was merged less than 23 hours ago. If

[2021-05-18 09:01] tisonkun commented on #5632
closed as mentioned in pingcap/docs-cn#6288, we use labels to sync pull requests

[2021-05-18 09:01] #5632 closed

[2021-05-18 09:02] tisonkun commented on #5631
Thanks for your explanation and I'm sorry for the burden.

[2021-05-18 09:02] #5631 closed

[2021-05-18 09:43] TomShawn commented on #5633
@dveeden In the GitHub docs or docs-cn repo, there are no such "WithCopy" characters. It's a webpage parsing error caused by the incorrect indentation in the markdown files. Now, this issue has been addressed. PTAL.

[2021-05-18 13:02] dveeden commented on #5633
Looks like that did the trick. Thanks.

[2021-05-18 13:02] #5633 closed

[2021-05-19 09:45] #5226 closed

[2021-05-26 18:31] kolbe commented on #5561
@tangenta I don't think an explanation needs to be provided in any tutorials, I think we simply need documentation about what the function does, its limitations, etc.

[2021-05-28 06:42] dveeden opened #5718 "VITESS_HASH function documentation"
## Error Report

https://docs.pingcap.com/tidb/stable/release-5.0.1 has this:

- Support the built-in function VITESS_HASH() [#23915](https://github.com/pingcap/tidb/pull/23915)

However I can't find this function in the function documentation. I would suggest to add a section for "Compatibility Functions" and add it there. It should be documented that this function is not compatible with MySQL as

[2021-05-28 07:37] TomShawn commented on #5718
@winoros Could you help add doc for `VITESS_HASH()`? Thanks!

[2021-06-21 06:52] cluyun opened #5812 "Linux OS version requirements Incomplete"
1. What is the URL/path of the document related to this issue?

[https://docs.pingcap.com/tidb/stable/hardware-and-software-requirements#linux-os-version-requirements](https://docs.pingcap.com/tidb/stable/hardware-and-software-requirements#linux-os-version-requirements)

2. How would you like to improve it?
supplement、Continuous follow up，[https://asktug.com/t/topic/33963](https://asktug.com/t/top

[2021-06-21 07:56] TomShawn commented on #5812
@lilyjazz @King-Dylan Please help confirm whether TiDB has supported the CPUs and OS mentioned in https://asktug.com/t/topic/33963/2. Thanks! If yes, please help add the corresponding document content.

[2021-06-22 09:36] dveeden opened #5823 "graceful-wait-before-shutdown is missing from documentation"
## Error Report

https://github.com/pingcap/tidb/blob/749a99c02027fb43406d01ed9b0f33f219a37db2/config/config.toml.example#L64-L66

This should have been in https://github.com/pingcap/docs/blob/master/tidb-configuration-file.md

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/s

[2021-06-24 03:03] #5823 closed

[2021-06-24 10:48] dveeden commented on #5561
https://docs.pingcap.com/tidb/stable/tidb-functions#tidb_decode_key
https://github.com/pingcap/docs/pull/5699

Can we close this now or is there something missing?

[2021-06-24 10:51] dveeden commented on #3155
@morgo is this still an issue after your recent improvements?

[2021-06-24 10:55] dveeden opened #5848 "Add migration of accounts to MySQL migration docs"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

The current migration documentation focuses on migrating data from MySQL but doesn't include user accounts and grants.

2. Describe your suggestion or addition.

With a tool like `pt-show-grants` accounts can be dumped from MySQL, which can then be imported in MySQL.

Currently accounts with `caching_sh

[2021-06-24 11:17] dveeden commented on #5812
Note that `tiup cluster check...` checks OS compatibility and may need to be updated as well.

[2021-06-24 11:19] dveeden commented on #5812
This might be related to #4943

[2021-06-24 15:26] morgo commented on #3155
Yes. It is worse than this :( This list was created by filtering on `SHOW VARIABLES LIKE 'tidb_%'`.

Here is a more accurate list of what is not documented but should be:

[code]

[2021-06-24 18:54] kolbe commented on #5561
@dveeden I think the description in the docs should be extended a bit to include the expected output when the schema does not use a "hidden" row id. For example, a compound clustered primary key:

[code]

[2021-06-24 19:46] kolbe opened #5860 "Document tidb_enable_change_column_type"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

`tidb_enable_change_column_type` is not included in the documentation at all. It's included in error messages issued by tidb-server, so it should be properly documented in order that users can understand the error messages.

[c

[2021-06-25 03:38] cluyun commented on #5812
I need to support Chinese systems such as UOS and 中标麒麟.You can refer to this link:https://asktug.com/t/topic/33963

[2021-06-25 07:03] XuHuaiyu commented on #5718
Hi, @morgo
Can you help to add this doc?

[2021-06-25 07:28] dveeden opened #5866 "max-replicas documentation needs to be extended"
The `replication.max-replicas` documentation on https://docs.pingcap.com/tidb/stable/pd-configuration-file#max-replicas should be extended with:

- A more complete description about what this option does
- If and how this can be changed online
- Why one might want to change this setting

A link to a document that explains this would also be sufficient.

[2021-06-28 07:42] dveeden commented on #5812
[Amazon Linux 2](https://aws.amazon.com/amazon-linux-2/) (based on CentOS) should be considered, especially for arm64.

[2021-06-29 03:22] disksing commented on #5866
Thanks for your suggestion. I'll improve it.

[2021-06-29 04:53] #5561 closed

[2021-06-29 15:33] dveeden opened #5894 "v5.1.0 release status need clarification."
## Error Report

v5.1.0 is not marked as stable yet. However there is no postfix like "-rc" or "-beta" that indicates this. There also isn't a note in the docs about this not being production ready yet.

[2021-06-29 15:58] dveeden commented on #5894
So v5.1.0 is not an release candidante or beta release and should be ready for production deployment. So a warning is not needed.

[2021-06-29 15:58] #5894 closed

[2021-06-30 04:31] qinggniq opened #5896 "move language switch button from bottom to upper"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.
Visit https://docs.pingcap.com/tidb/stable , I found that the language switch button which is located at the left-bottom most, that leads it hard to find.

2. Describe your suggestion or addition.
Most of other docs websites whi

[2021-07-02 09:53] dveeden opened #5915 "TABLESAMPLE is missing from docs"
While `TABLESAMPLE` is mentioned in the 5.0.3 release notes there doesn't seem to be any documentation on the syntax etc.

I would at least expect this to be mentioned on https://docs.pingcap.com/tidb/stable/sql-statement-select

Related: https://github.com/pingcap/tidb/issues/20567

[2021-07-05 08:38] dveeden opened #5920 "Description of UUID_TO_BIN and BIN_TO_UUID functions are missing from the docs"
## Error Report

The `UUID_TO_BIN` and `BIN_TO_UUID` functions in TiDB are not documented.

[code]

It looks like these are compatible with MySQL. It would also be good to add some advise about using `UUID`s as PKs in TiDB on https://docs.pingcap.com/tidb/stable/high-concurrency-best-practices

[2021-07-05 08:41] dveeden commented on #5920
Related to https://github.com/pingcap/tidb/pull/20140

[2021-07-05 14:30] morgo commented on #5920
Note that the advice may differ in TiDB: in MySQL the UUID is reordered to be sequential, but in TiDB that might cause a hot spot.

[2021-07-05 15:04] dveeden commented on #5920
@morgo yes indeed. Note that `UUID_TO_BIN` has a second parameter that might be of use here.

[code]

[2021-07-05 15:12] dveeden commented on #5920
One of the issues with the `UUID` handling here is that the `swap flag` is in the function and not stored with the data or with the table and you need to use the same swap flag as when storing the value.

A virtual column would improve this slightly, but that's only for SELECTs and not for INSERT/UPDATE...
[code]

[2021-07-06 08:21] qqbuby opened #5929 "A bit confusion terminolgoy of `TiKV` `TiKV store` `TiKV peer` `peer: replica of Region` in tidb-scheduling.md"
1. When a new `TiKV store` is added, data can be rebalanced to it;
2. The cluster can perform automatic disaster recovery from `TiKV peers`' failure.
3. Note that here "position" is different from "machine". *Generally PD can only ensure that replicas of a Region are not at a same peer to avoid that the `peer`'s failure causes more than one replicas to become lost.* However in production, you migh

[2021-07-09 13:09] overvenus opened #5962 "TiCDC config templates should includes data-dir, gc-ttl and other important configs"
https://github.com/pingcap/docs/blob/95770385fb34e4172695d9ecd2b6621051a1ff32/config-templates/complex-cdc.yaml#L43-L46

We should add data-dir, gc-ttl and other important configs in the above file.

[2021-07-15 03:08] TomShawn commented on #5866
@dveeden [This PR](https://github.com/pingcap/docs-cn/pull/6669) add these content, PTAL: "The total count of replicas, that is, the sum of leader count and follower count. The default value is `3`, which is 1 leader and 2 followers. When this configuration is modified online, PD will perform background scheduling to make the number of replicas match this configuration."

[2021-07-20 07:55] cyliu0 opened #6003 "tidb-lightning: users needs to remove both checkpoint and lightning meta when they try to rerun with v5.1"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.
Users might hit issues if they only remove the checkpoint while they try to rerun lightning v5.1

2. Describe your suggestion or addition.
Add remove lightning metadata step

3. Provide some reference materials (documents, websi

[2021-07-21 08:22] fubinzh opened #6007 "Update dm doc to make it clear for is-sharding and shard-mode configuration usage"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

We need to make it clear how is-shardning and shard-mode configuration items should be used in DM task configuration file:
- is-shardning configuration item is not listed in current DM task configuration file
- for shard-mode,

[2021-07-21 09:30] fubinzh commented on #6007
This PR was moved to https://github.com/pingcap/docs-dm/issues/733.

[2021-07-21 09:30] #6007 closed

[2021-07-23 08:48] #5424 closed

[2021-07-24 08:26] #5860 closed

[2021-07-29 16:46] BarDev opened #6056 "Backup & Restore FAQ conflicts with BR Tool Overview for what schemas are backed up by default"
It seems the FAQ needs to be updated.

File: [/br/backup-and-restore-faq.md v5.1.0](https://docs.pingcap.com/tidb/stable/backup-and-restore-faq#does-br-back-up-system-tables-during-data-restoration-do-they-raise-conflict)

The following is mentioned in the FAQ

in (BR Tool Overview - Backup and restore system schemas - v5.1.0)https://docs.pingcap.com/tidb/stable/backup-and-restore-tool#backup-and-

[2021-08-05 06:57] dveeden opened #6105 "Statement documentation for `ADMIN SHOW...` is missing docs for `...TELEMETRY`"
## Error Report

https://docs.pingcap.com/tidb/stable/sql-statement-admin or other pages documenting the ADMIN statements should include documentation for `ADMIN SHOW TELEMETRY`.

[code]

[2021-08-11 07:00] mayjiang0203 opened #6145 "Format for TiKV and PD configuration file template is invalid."
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
![image](https://user-images.githubusercontent.com/9443637/128983094-e0f5b0a5-4c47-42a5-b7bb-c43112376a34.png)

2. How would you like to improve it?
Should same as tidb-server.
ssh_port should have same white space with host.
tikv_servers:
- h

[2021-08-20 06:36] dveeden opened #6192 "Broken links on TiDB Adopters page"
URL: https://docs.pingcap.com/tidb/stable/adopters

From `/usr/local/bin/markdown-link-check -p -v adopters.md`, excluding HTTP 403 (crunchbase) and HTTP 999 (LinkedIn).

[code]

[2021-08-20 06:38] dveeden commented on #6192
cc @jiwei2021 @TomShawn

[2021-08-20 06:42] dveeden commented on #6192
https://validator.w3.org/checklink?uri=https%3A%2F%2Fdocs.pingcap.com%2Ftidb%2Fstable%2Fadopters&hide_type=all&depth=&check=Check shows more broken links, also ones not related to case studies

[2021-08-20 07:11] dveeden opened #6193 "Broken links on Credits page"
## Error Report

https://docs.pingcap.com/tidb/stable/credits

From `/usr/local/bin/markdown-link-check`:
[code]

[2021-08-20 07:19] tisonkun commented on #6193
Thanks for reporting this issue @dveeden ! I think as we merge SIGs, there will be several links broken.

@lilin90 @qiancai I'd like to know whether these links populated manually or automatically, so that we know how to fix the problem.

[2021-08-20 08:21] dveeden opened #6194 "Broken links"
## Error Report

[code]

Result:
[code]
This is excluding what was reported in #6192 and #6193

[2021-08-20 08:27] dveeden commented on #6194
Most of these were fixed in https://github.com/pingcap/docs/pull/6153
[code]

[2021-08-20 08:28] dveeden commented on #6194
But these are still there:
[code]

[2021-08-20 13:22] tisonkun commented on #6193
/cc @TomShawn

[2021-08-20 13:24] #6194 closed

[2021-08-20 13:33] TomShawn commented on #6193
@tisonkun These links are manually populated. We plan to synchronize [this page] with the [Chinese version](https://docs.pingcap.com/zh/tidb/stable/credits) which does not contain the reported broken links. The PR is in https://github.com/pingcap/docs/pull/6111.

We do have an external broken link checker built into the CircleCI but it does not work very well.

[2021-08-20 13:40] #6145 closed

[2021-08-20 13:45] TomShawn commented on #6192
@dveeden Thanks! We'll discuss whether it is necessary to keep this doc page next week. If not necessary, we'll delete this doc page.

[2021-08-21 07:46] Defined2014 opened #6204 "separate query statement and result in two text boxes"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://docs.pingcap.com/tidb/dev/basic-sql-operations#query-data
![image](https://user-images.githubusercontent.com/17435596/130314640-1d32e7d7-6543-4606-a8f8-6023d8efada7.png)

It will copy sql statement and result when click the button.

2.

[2021-08-22 06:41] tisonkun commented on #6193
@TomShawn thanks for your update, you can refer the issue from PR (I did it for you).

For the testing part, I'd suggest you make use of GitHub Actions to perform the tests as we may no longer maintain CircleCI pipelines.

[2021-08-23 03:47] TomShawn commented on #6204
Thanks very much!

[2021-08-23 03:48] #6204 closed

[2021-08-25 07:02] borasy opened #6251 "Wrong command in "Check and install the NTP service" section"
File: [/check-before-deployment.md](https://docs.pingcap.com/tidb/stable/check-before-deployment)

Should change from ` sudo systemctl status cronyd.service` to `sudo systemctl status chronyd.service`

[2021-08-25 19:15] morgo opened #6264 "fast analyze does not have an experimental warning"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

See: https://docs.pingcap.com/tidb/stable/system-variables#tidb_enable_fast_analyze

2. How would you like to improve it?

The experimental warning is mentioned here:
https://docs.pingcap.com/tidb/stable/sql-statement-analyze-table#mysql-comp

[2021-08-27 07:02] #6264 closed, assigned to Liuxiaozhen12

[2021-08-30 11:22] #6193 closed

[2021-09-03 17:53] coderplay opened #6387 "Inconsistent description on the same page"
File: [/enable-tls-between-clients-and-servers.md](https://docs.pingcap.com/tidb/stable/enable-tls-between-clients-and-servers)

On the same page, there are

* `The encrypted connections in TiDB are disabled by default.`
* `The encrypted connection is optional by default. `

Which one is the correct description?  Please fix it.

[2021-09-03 18:01] morgo commented on #6387
@coderplay Thank you for the feedback. We will take a look.

[2021-09-06 06:13] dveeden commented on #6387
I've updated #6323 to address this.

There are multiple things to note here:
`auto-tls` was added in TiDB v5.2.0. This makes it easier to enable TLS on TiDB Server. This setting is disabled by default, but it is enabled in the sample configuration. If this setting is enabled the server will create TLS certificates if none are provided.

Older MySQL clients and libraries didn't enable TLS by defaul

[2021-09-07 09:59] septemberfd commented on #2218
/assign

[2021-09-08 09:25] #2218 closed

[2021-09-08 13:54] dveeden opened #6417 "Download location for Spark"
## Error Report

https://docs.pingcap.com/tidb/stable/tispark-overview links to https://spark.apache.org/downloads.html to download Spark.

However the version indicated in that document (2.3.x) is no longer available on that page.

https://archive.apache.org/dist/spark/ is probably the right location until we support Spark 3.x

[2021-09-08 13:56] dveeden commented on #6417
cc @Joyinqin

[2021-09-13 14:46] dveeden opened #6454 "TiSpark documentation improvements"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

The TiSpark documentation is unclear at some points

2. Describe your suggestion or addition.

- `spark-sql` is briefly mentioned but it's use isn't explained and no information is provided about how to start it.
- `beeline` & Thrift Server are mentioned in the docs. But no information is included about

[2021-09-14 04:57] TomShawn commented on #6454
@marsishandsome Could you please take a look to see what we can do now according to @dveeden's suggestion? Thanks!

[2021-09-14 05:30] dveeden commented on #6454
https://docs.pingcap.com/tidb/stable/tispark-deployment-topology doesn't seem to be references from the other two documents that talk about TiSpark.

Might be good to explain when to use TiSpark and when to use TiFlash.

[2021-09-14 05:45] dveeden commented on #6454
The `tispark-sample-data.tar.gz` looks like tpch data. Shouldn't this use `tiup bench tpch...` instead?

[2021-09-15 08:37] ran-huang opened #6490 "Fix a corner case in check-manual-line-breaks.py"
The script [check-manual-line-breaks.py](https://github.com/pingcap/docs/blob/master/scripts/check-manual-line-breaks.py) sends false alarms in two corner cases when encountering a multi-line html tag, e.g.:

![image](https://user-images.githubusercontent.com/59654584/133399970-5515a064-ea76-4958-9d08-3026b33ec5ca.png)
![image](https://user-images.githubusercontent.com/59654584/133399761-364892bc-

[2021-09-24 12:03] mjonss opened #6530 "Missing definition of several options like AlterTableSpecListOpt"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

sql-statements/sql-statement-alter-table.md (and several others that mentioning ALTER TABLE).

2. How would you like to improve it?

Add the definition/syntax of the missing options, like
[code]

There are other definitions missing like Alter

[2021-09-24 18:48] morgo opened #6532 "FAQ: "Does TiDB support XA?" has a weird answer"
## Change Request

See: https://docs.pingcap.com/tidb/stable/tidb-faq#does-tidb-support-xa

1. Describe what you find is inappropriate or missing in the existing docs.

Why does it talk about Atomikos? This has nothing to do with the question, since other users might need XA too.

2. Describe your suggestion or addition.

Either change the question to "Does TiDB support Atomikos?" or make the answ

[2021-09-24 18:53] morgo opened #6533 "FAQ "The order of results is different from MySQL when ORDER BY is omitted" is out of date"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

See: https://docs.pingcap.com/tidb/stable/sql-faq#the-order-of-results-is-different-from-mysql-when-order-by-is-omitted

2. How would you like to improve it?

It should mention `tidb_enable_ordered_result_mode` which is also currently not doc

[2021-09-24 18:58] morgo opened #6534 "FAQ "How to scatter the hotspots?" is out of date"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://docs.pingcap.com/tidb/stable/sql-faq#how-to-scatter-the-hotspots

2. Describe your suggestion or addition.

There are multiple strategies besides `SHARD_ROW_ID_BITS`. For example: `AUTO_RANDOM` and Non-clustered indexes.

It would honestly be helpful if there was an FAQ section just on hots

[2021-09-24 19:02] morgo opened #6535 "FAQ "How to safely stop TiDB?" should mention graceful-wait-before-shutdown"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

https://docs.pingcap.com/tidb/stable/deploy-and-maintain-faq#how-to-safely-stop-tidb

2. Describe your suggestion or addition.

Assuming the user is using a load balancer (recommended), then a "safe" shutdown involves removing from the load balancer before killing so that active sessions are not killed.

[2021-09-24 19:06] morgo opened #6536 "FAQ "Can kill be executed in TiDB?" is out of date"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://docs.pingcap.com/tidb/stable/deploy-and-maintain-faq#can-kill-be-executed-in-tidb

2. Describe your suggestion or addition.

The answer is not really helpful. `KILL` can be used, but is disabled by default because

[2021-09-24 19:07] morgo opened #6537 "FAQ "Does TiDB support session timeout?" is out of date/wrong"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

https://docs.pingcap.com/tidb/stable/deploy-and-maintain-faq#can-kill-be-executed-in-tidb

2. Describe your suggestion or addition.

This is not correct, TiDB supports both `wait_timeout` and `interactive_timeout`.

3. Provide

[2021-09-24 19:10] morgo opened #6538 "FAQ "Is there a graphical deployment tool for TiDB?" could be improved"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://docs.pingcap.com/tidb/stable/deploy-and-maintain-faq#can-kill-be-executed-in-tidb

2. Describe your suggestion or addition.

While the answer is true (there is no GUI _deployer_), I think at the time this question

[2021-09-24 19:22] morgo opened #6539 "FAQ "How to modify the user password and privilege?" uses non-recommended technique"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

https://docs.pingcap.com/tidb/stable/high-reliability-faq#how-to-modify-the-user-password-and-privilege

2. Describe your suggestion or addition.

It is recommended to use `ALTER USER` now and not `SET password`, since you can

[2021-09-24 19:28] morgo opened #6540 "FAQs about version management are out of date"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://docs.pingcap.com/tidb/stable/deploy-and-maintain-faq#what-is-the-tidb-version-management-strategy-for-production-environment-how-to-avoid-frequent-upgrade

and https://docs.pingcap.com/tidb/stable/deploy-and-mainta

[2021-09-24 19:35] morgo opened #6541 "FAQ "How do I modify the sql_mode in TiDB?" answer is weird"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://docs.pingcap.com/tidb/stable/sql-faq#how-do-i-modify-the-sql_mode-in-tidb

2. Describe your suggestion or addition.

This makes it sound like a limitation that is specific to sql_mode, but it is by design, and actually useful. I think it could be worded in a clearer way for new users:

"TiD

[2021-09-28 15:51] db-will opened #6565 "Add warning info for PiTR experimental feature"
File: [/br/use-br-command-line-tool.md](https://docs.pingcap.com/tidb/stable/use-br-command-line-tool)

For the current doc, we have suggested a way to run PiTR with br & TiCDC. However, this feature is still experimental, not fully tested, and still in development. we need to add warning message in the doc to ensure everyone is aware of that.

Use the following msg, as we usually added for other

[2021-09-28 16:01] dveeden commented on #6565
This seems related to https://github.com/pingcap/docs/pull/6190

That PR says this is a prototype and *not* (yet) experimental

[2021-09-29 02:13] TomShawn commented on #6565
/cc @YuJuncen

[2021-09-29 02:13] TomShawn commented on #6565
/assign @YuJuncen

[2021-10-09 03:50] #5866 closed

[2021-10-11 07:23] #5718 closed

[2021-10-18 03:09] Chenhao-Huang opened #6625 "Typo in doc"
File: [/tidb-architecture.md](https://docs.pingcap.com/tidb/stable/tidb-architecture)

"As a distributed database, TiDB is designed to consist of multiple components. Theses components communicate with each other and form a complete TiDB system. The architecture is as follows:".

It should be "These components", instead of "Theses components". There is an extra "s" after These

[2021-10-19 03:38] #5457 closed

[2021-10-19 03:38] #6541 closed

[2021-10-19 21:33] morgo opened #6647 "Import Example Database does not work with 'tiup client'"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

This error was reported by @alkaagr81

On https://docs.pingcap.com/tidb/stable/import-example-data

The step to `LOAD DATA INFILE` does not work with the client `tiup client` which is recommended on https://docs.pingcap.com/tidb/stable/quick-start-with-tidb

The following error is returned:

[code]

2.

[2021-11-03 05:19] coderplay opened #6722 "The doc doesn't exhaust all the items"
File: [/mysql-compatibility.md](https://docs.pingcap.com/tidb/stable/mysql-compatibility)

for example `SET GLOBAL read_only` is not supported by TiDB.

https://github.com/pingcap/tidb/issues/18426

[2021-11-04 01:57] morgo commented on #6722
Thank you for the bug report.

I agree with you - the MySQL compatibility page should have a section to describe some of the features which are missing, but tidb offers "noop support": https://docs.pingcap.com/tidb/stable/system-variables#tidb_enable_noop_functions-new-in-v40

This will help tie the two concepts together, since these features are not really supported, but are only in the noop-func

[2021-11-05 15:47] dveeden opened #6738 "TiKV Control User Guide should be extended with k8s info"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

https://docs.pingcap.com/tidb/stable/tikv-control doesn't tell the user how to run `tikv-ctl` when using kubernetes/tidb-operator. Especially the local mode needs special care.

2. Describe your suggestion or addition.

Link to https://docs.pingcap.com/tidb-in-kubernetes/stable/tidb-toolkit#use-tikv-con

[2021-11-08 02:05] shichun-0415 commented on #6738
@qiancai PTAL. Thanks.

[2021-11-15 06:44] dveeden opened #6809 "Advise about deployment is not consistent"
## Error Report

https://docs.pingcap.com/tidb/stable/deploy-and-maintain-faq and https://docs.pingcap.com/tidb/stable/hardware-and-software-requirements have differences:

- The first says "7.3 or later" which is not correct (8.0 or newer is not recommended)
- The first doesn't include Ubuntu
- The first doesn't include TiFlash and TiCDC in deployment suggestions

I would suggest to replace the F

[2021-11-15 06:53] dveeden opened #6811 "Glossary is mising key items"
## Error Report

https://docs.pingcap.com/tidb/stable/glossary is missing some key items:

- TSO
- HTAP
- OLAP
- OLTP
- KV
- CDC
- Binlog
- SST
- NVMe
- SSD
- EBS
- AWS
- GCP
- PD
- DM

[2021-11-15 07:37] TomShawn commented on #6811
@dveeden Thanks for selecting terms for the glossary. We plan to add more terms to the TiDB glossary. Once the PR is created, I'll invite you to review it. Thanks~

[2021-11-15 07:51] cyliu0 opened #6816 "cdc command line boolean arguments can't take value via '--xxx true'"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://docs.pingcap.com/tidb/stable/manage-ticdc#cyclic-replication
I'm not sure if it's the only one needed to be fixed.

2. How would you like to improve it?
`--cyclic-sync-ddl true` needs to be replaced by `--cyclic-sync-ddl=true`

[2021-11-15 08:20] TomShawn commented on #6816
@hi-rustin Could you please help create a PR to fix the command? Thanks!

[2021-11-15 11:43] hi-rustin commented on #6816
I will send a pull request later.

[2021-11-16 13:42] dveeden opened #6831 "Missing information for table locking"
## Error Report

- The `enable-table-lock` config option for TiDB is not documented.
- `LOCK TABLE` and `UNLOCK TABLES` is missing from SQL statement documentation

https://github.com/pingcap/tidb/blob/56ba37a1ca0d959367c8031a0182815fd81034e4/config/config.toml.example#L80-L81

[code]

This option seems to be in TiDB at least since v4.0

[2021-11-18 06:36] aytrack opened #6844 "`tidb_enable_alter_placement` was not added in system_variables page"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.
since `tidb_enable_alter_placement ` was introduced by support plancement rule in sql , but it's not
 add in system_variables page

2. Describe your suggestion or addition.
add `tidb_enable_alter_placement` variables in page.
3.

[2021-11-18 07:27] dveeden opened #6848 "Connectors and APIs need updating"
## Change Request

https://docs.pingcap.com/tidb/stable/connectors-and-apis

Issues:
- Not referenced in the TOC
- Outdated info
- Overlapping and contradicting the info on https://docs.pingcap.com/appdev/dev/app-dev-overview

[2021-11-18 11:42] Yui-Song opened #6865 "Wrong description on TPCC benchmark page"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?
https://docs.pingcap.com/tidb/stable/v5.2-performance-benchmarking-with-tpcc

2. How would you like to improve it?
Here should be the introduction about TPCC not TPCH.

![image](https://user-images.githubusercontent.com/84501897/142408931-b9f3

[2021-11-18 18:06] ekexium opened #6867 "Wrong tikv-ctl command in garbage-collection-configuration.md"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://github.com/pingcap/docs/blob/b818cb598a079c1d1377f4e853ab96aa33bdcf94/garbage-collection-configuration.md?plain=1#L28

2. How would you like to improve it?
[code]
[code]

It seems to me the `-m server` part shouldn't be there.

[2021-11-18 21:31] morgo commented on #6844
This is a system variable that is pre-existing, and follows our previous procedure of not documenting experimental features.

But our [new procedure](https://github.com/pingcap/tidb/blob/master/docs/design/2021-07-29-hidden-sysvars.md) is to document them. So I will create a PR for this.

[2021-11-19 06:21] BusyJay commented on #6867
@youjiali1995 any thoughts? It's seems to be written by you.

[2021-11-19 06:29] youjiali1995 commented on #6867
It works in v3.x https://github.com/tikv/tikv/pull/5769. I guess online config change since v4.0 changes it.

[2021-11-19 06:38] en-jin19 commented on #6867
@BusyJay @youjiali1995  Thanks for your comments!

@youjiali1995 could you please update the command in the TiDB user document "garbage-collection-configuration.md" and add the cherry pick labels on PRs?

[2021-11-19 07:35] #6865 closed

[2021-11-19 08:49] BusyJay commented on #6867
/cc @NingLin-P

[2021-11-19 11:37] #6844 closed

[2021-11-19 15:21] zhangyangyu opened #6884 "Use tidb-dev-guide as contribution guide?"
I'd suggest we use [tidb-dev-guide](https://pingcap.github.io/tidb-dev-guide/contribute-to-tidb/write-document.html) as docs contributing guide. So only one copy need to be maintained. And in tidb-dev-guide, there are many more content for the entire TiDB community.

[2021-11-24 08:34] dveeden commented on #699
Something like https://github.com/dveeden/docs/blob/check_sql/scripts/check-sql.py could be useful.

[code]

[2021-11-26 07:13] zgcbj opened #7033 "Add bug severity in release note"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.
TiDB release many versions every year.  Our online clusters cannot follow every version，but we don’t want to miss important bug fixes either.

2. Describe your suggestion or addition.
Add bug serverity in release note
3. Provide

[2021-11-29 17:36] morgo opened #7048 "SELECT syntax incompatibilities"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/stable/sql-statement-select#mysql-compatibility

2. How would you like to improve it?

The syntax `SELECT .. INTO @var` is not supported.  See: https://github.com/pingcap/tidb/issues/23924

The documentation page

[2021-12-01 00:06] morgo opened #7078 "new_collations_enabled_on_first_bootstrap reference to TiDB 4.0 is incorrect advice"
## Change Request

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

See: https://docs.pingcap.com/tidb/stable/tidb-configuration-file#new_collations_enabled_on_first_bootstrap

"When a TiDB cluster is upgraded to v4.0, because the cluster has been initialized before, both true and false values

[2021-12-01 00:21] morgo opened #7079 "undocumented uuid functions"
## Error Report

Please answer the following questions before submitting your issue. Thanks!

1. What is the URL/path of the document related to this issue?

https://docs.pingcap.com/tidb/stable/miscellaneous-functions

2. How would you like to improve it?

The functions introduced in https://github.com/pingcap/tidb/pull/20140 are not documented.